.accordion{
  cursor: pointer;
  transform: 0.4s;
}
.panel{
  display: none;
  overflow: hidden;
}

.notice-accordion{
  ul{
    li{
      .accordion{
        .tag{
          font-size: rem(14);
          line-height: normal;
          letter-spacing: -0.3px;
          padding: rem(2) rem(11);
          margin-right: rem(10);
        }
        i{
          transform: rotate(90deg);
        }
        &.active{
          i{
            transform: rotate(270deg);
          }
        }
      }
      .panel{
        padding: rem(24) rem(24) rem(66) rem(24);
        background-color: $white-five;
        font-size: rem(14);
        line-height: rem(25);
        .answerer{
          font-size: rem(14);
          color:$brownishGrey;
          @include flex-prefix-center-suffix;
          margin-bottom: rem(20);
          .prefix{
            position: relative;
            flex: none;
            padding-right: rem(21);
            &:after{
              content: '';
              width: rem(1);
              height: rem(12);
              position: absolute;
              left: rem(48);
              top: 50%;
              transform: translateY(-50%);
              background-color: $pinkishGrey;
            }
          }
          .center{
            justify-content: flex-start;
          }
          .suffix{
            i{
              margin-right: rem(5);
            }
          }
        }
        .upload-file{
          display: flex;
          align-items: center;
          background-color: $white-six;
          padding:rem(8) rem(6);
          margin-top: rem(20);
          i{
            position: relative;
            margin-right: rem(19);
            &:after{
              content: '';
              position: absolute;
              left: rem(18);
              top: 50%;
              transform: translateY(-50%);
              width: rem(1);
              height: rem(12);
              background-color:#cccccc;
            }
          }
          a{
            padding: 0;
            color:$cornflowerBlue ;
          }
        }
      }
    }
  }
}


@media (max-width:1200px) {
  .notice-accordion{

    ul{
      li{
        .accordion{
          .tag{
           font-size: 12px!important; 
          }
        }
        .panel{
          .answerer{
            font-size: rem(12);
            .prefix{
              &::after{
                left: rem(43);
                top: rem(6);
              }
            }
          }
        }
      }

    }
  } 
}