.alter{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: rem(77);
  width: rem(177);
  height: rem(36);
  font-size: rem(14);
  line-height: rem(36);
  letter-spacing: -0.35px;
  background-color: $brownishGrey;
  color: $white;
  text-align: center;
  border-radius: rem(8);
  + .alter{
    bottom: rem(133);
  }
}