//btn size
.btn{
  display: inline-block;
  text-align: center;
  border-radius: rem(8);
  cursor: pointer;
  margin-top: 60px!important;
  margin-bottom: 40px!important;
  &.btn-nomal{
    width: rem(82);
    font-size:rem(14);
    height: 56px;
    line-height: 56px;
    padding:rem(6) 0;
  }
  &.btn-wide{
    width: 100%;
    font-size: rem(18);
    max-width: 378px;
    margin: 0 auto;
    display: block;
    height: 56px;
    line-height: 56px;
  }
  &.btn-half{
    width: 50%;
    padding: 0;
    height: 56px;
    line-height: 56px;
    font-size: rem(24);
  }
  &.btn-small{
    width: rem(48);
    padding: rem(5) 0;
    height: 56px;
    line-height: 56px;
  }
}
//btn type
.btn{
  &.btn-border{
    border:rem(1) solid $black;
    color: $black;
    &.primary-border{
      border: rem(1) solid $primary;
      color: $primary;
    }
  }
  &.btn-blue-gradation{
    background-image: url(../images/bg-gradation.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
  }
  &.btn-gray{
    background-color: $pinkishGrey;
    color: $white;
    &.complete{
      background-image: url(../images/bg-gradation.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
    }
  }
  &.btn-primary{
    background-color: $primary;
    color: $white;
  }
  &.btn-white{    
    background: $white;
  }
  //메인페이지 버튼
  &.wideRound{
    background: transparent;
    padding: rem(2) rem(30);
    border: 2px solid $cornflowerBlue;
    border-radius: rem(30);
  }
}
.btn-group{
  display: flex;
  // padding:0 rem(100);
  width: 786px;
  margin-left: auto;
  margin-right: auto;
  .btn{
    & + .btn{
      margin-left: rem(30);
    }
  }
}

.m_height{
  .btn{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
  }
}


.conWrap{
  .btn-group{
    margin-left: -143px!important;
  }
  &.full{
    .btn-group{
      margin-left: auto!important;
      margin-right: auto!important;
    }
  }
  &.wide{
    .btn-group{
      margin-left: auto!important;
      margin-right: auto!important;
    }
  }
  .infoWrap{
    .btn-group{
      margin-left: -143px!important;
    }
  }
}

.btn-wide-group{
  padding: 0px 24px;
  .btn{
    margin-bottom: rem(16);
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.section{
  &.none-pad{
    .btn-group{
      padding: 0 rem(24);
    }
  }
}
.btn-fixed{
  position: fixed;
  max-width: 100%;
  margin-right: 24px;
  width: calc( 100% - 48px );
  margin-left: 24px;
  bottom: 0;
  left: 0;
  padding-top: rem(27);
  padding-bottom: rem(50);
  background-color: $white;
  .btn-group{
    padding: 0px;
    margin: 100px auto 40px;
  }
  &.none-shdaow{
    box-shadow: none;
  }
}
@media (min-width:1200px) {
  .btn-fixed{
    width: 100%;
    position: relative;
    padding: 0;
    box-shadow: none;
    margin-top: rem(20);
    background-color: transparent;
  }
  .btn-wide-group {
    padding: 0px;
    .btn{
      &.btn-wide{
        font-size: rem(24);
        height: 78px;
        line-height: 78px;
      }
    }
  }
  .btn{
    &.btn-wide{
      font-size: rem(24);
      height: 78px;
      line-height: 78px;
    }
    &.btn-half{
      height: 78px;
      line-height: 78px;
    }
  }
  
}



@media (max-width:1200px){
  .btn-fixed {
      .btn-group{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        a{
          font-size: 16px;
        }
    }
  }
  .btn{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    &.btn-half{
      font-size: 16px;
    }
    &.m-t-30{
      margin-top: 30px!important;
    }
    &.btn-wide{
      max-width: 100%;
    }
  }


  .m_height{
    .btn{
      margin-top: 0px!important;
      margin-bottom: 16px!important;
      &:last-child{
        margin-bottom: 0px!important;
      }
    }
  }

}