input[type="checkbox"]{
  position:absolute; 
  width:1px; 
  height:1px; 
  padding:0; 
  margin:-1px;
  overflow:hidden; 
  clip:rect(0,0,0,0);
  border:0;
  + label{
    position:relative;
    display:inline-block;
    padding-left: rem(37);
    font-size: rem(20);
    line-height: rem(24);
    cursor:pointer;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      width: rem(24);
      height: rem(24);
      @include icon-setting;
      background-image: url(../images/ico_checkbox.svg);
    }
  }
  &:checked{
    + label{
     &:before{
      background-image: url(../images/ico_checkbox-on.svg);
     }
    }
  }
}


@media (max-width: 1200px){
  input[type="checkbox"]{
    + label{
      font-size: 14px;
    }
  }
}