.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,.ui-widget{
    font-family: 'Noto Sans KR'!important;
}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year{
    width: auto!important;
    background-color: transparent;
}
#ui-datepicker-div{
    width: 375px;
    .ui-widget-header{
        background-color: transparent!important;
        border: none!important;
        font-weight: normal!important;
    }
    .ui-datepicker-buttonpane{
        display: none;
    }
    th{
        font-weight: normal!important;
        text-align: center;
        color: rgb(143,143,143);
    }
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default{
    border: none!important;
    text-align: center;
    height: 32px;
    line-height: 32px;
    padding: 0px;
    width: 32px;
    border-radius: 32px;
    background-color: transparent!important;
    margin: 0 auto;
}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{
    background-color: #459cdf !important;
    color: #fff!important;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active,
 .ui-button:active, 
 .ui-button.ui-state-active:hover{
    background-color: #459cdf !important;
 }


 .ui-datepicker-today{
    .ui-state-highlight{
        background: #fff!important;
        color: #000!important;
        line-height: 30px!important;
        border: 1px solid rgb(212,212,212)!important;
    }
}

.ui-datepicker-prev{
    span{
        background-image: url('../images/ico_prev.svg')!important;
        background-position: center;
    }
}

.ui-datepicker-next{
    span{
        background-image: url('../images/ico_prev.svg')!important;
        background-position: center;
        transform: rotate(180deg);
    }
}



 @media (max-width: 1200px) {
     
    #ui-datepicker-div{
        width: calc( 100% - 48px );
        left: 0px!important;
        top: 985px;
        top: 985px!important;
        margin: 0px 24px;
    }
 }
