.detail{
  &.p-t-67{
    padding-top: 0px;
  }
  .detail-title{
    padding: 0 rem(24);
    margin-top: 1.5rem;
    position: relative;
    padding-bottom: rem(18);
    &:after{
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: rem(1);
      background-color:$mobile-header-border;
    } 
    h2{
      font-size: rem(15);
      line-height: rem(25);
      margin-bottom: 0px;
      letter-spacing: -0.38px;
    }
    .state{
      ul{
        display: flex;
        li{
          position: relative;
          font-size: rem(12);
          line-height: rem(25);
          color:$greyish;
          letter-spacing: -0.3px;
          padding-right: rem(25);
          &:after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left:rem(55) ;
            width: rem(1);
            height: rem(12);
            background-color: $greyish;
          }
          &:last-child{
            padding-right: 0;
            &:after{
              display: none;
            }
          }
          &.waiting{
            color: $purple;
          }
        }
      }
    }
  }
  .questions{
    margin-top: rem(25);
    margin-bottom: rem(30);
    padding: 0 rem(24);
    font-size: rem(14);
    line-height: rem(25);
    letter-spacing: 0.35px;
  }
  .answer{
    margin: rem(24);
    margin-top: 0;
    padding: rem(20);
    background-color: $paleGrey-three;
    .date{
      padding-top: rem(20);
      color: $greyish;
    }
  }
}


@media (min-width:1200px){
  .detail{
    .detail-title{
      h2{
        font-size: 1.25rem!important;
        margin-bottom: 4px;
      }
      .state{
        ul{
          li{
            font-size: rem(14);
            &:after{
              left: unset;
              right: 13px;
            }
          }
        }
      }
    }
  .questions{
    font-size: rem(16);
  }
  }
  .detail .questions{
    font-size: 1rem!important;
    margin-top: rem(40);
    margin-bottom: rem(40);
  }
  .detail .answer{
    font-size: 1rem!important;
      .date{
      padding-top: 2.375rem;
      color: #afafaf;
      font-size: 14px!important;
      }
  }

}