
.dropdown {
    position: relative;
    width: 100%; 
    height: 56px;
    &.open{
        .list{
            display: block;
        }
    }
    &.myInfo{
        width: calc( 100% - 30px );
        display: inline-block;
        margin-left: 5px;
    }
    .caption{
        color: #666666;
        font-size: 16px;
        border-radius: 3px;
        width: 100%;
        line-height: 56px;
        cursor: pointer;
        &::after{
            position: absolute;
            top: 50%;
            right: 0px;
            display: block;
            content: "";
            margin-top: -7px;
            width: 14px;
            height: 14px;
            background: url(../images/selDown.svg) no-repeat;
            background-size: 14px;
        }
    }
    .list{
        position: absolute;
        background-color: #fff;
        width: 100%;
        border-radius:3px;
        display: none;
        z-index: 9999;
        border: 1px solid #ccc;
        top: 54px;
        font-size: 16px;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
        .item{
            cursor: pointer;
            padding: 5px 26px;
            &:hover{
                background-color: #ececec;
            }
        }
    }
}


@media (max-width: 1200px) {
    .dropdown{
        display: none;
        &.myInfo{
            display: none;
        }
    }
}