footer{
  padding: rem(40) 0;
  background: $paleGrey;
  color: $brownishGrey;
  font-weight: 300;
  a{
    color: $brownishGrey;
  }
  .container{
    width: rem(1200);
    margin:0 auto;
    .footerTop{
      display: flex;
      justify-content: space-between;   
      font-weight: 400; 
    }
    .footerBottom{
      margin-top: -10px;
      float: left;
    }
  }
  .footTit{
    font-size: rem(18);
  }
  .copyRight{
    margin-top: rem(64);  
    font-size: rem(14); 
    color: $greyish;
    display: block;
    clear: both;
  }
  span{
    padding: 0 rem(12);
    &.rightBar{
      position: relative;
      &::after{
        content:'';
        width: rem(1);
        height: rem(16);
        background: $greyish;
        position: absolute;
        top: 50%;
        right: -4px;
        transform: translateY(-50%);
      }
    }
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }

  .footerGnb{
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 32px;
    overflow: hidden;
    border-bottom: 1px solid #dbdbdb;
    .terms{
      float: left;
    }
    .snsIcon{
      float: right;
      span{
        cursor: pointer;
        padding:0px;
        display: block;
        float: left;
        &:nth-child(2){
          margin-left: 12px;
        }
      }
    }
  }

}


.footerTop{
  .dropdown{
    width: 223px;
    height: 42px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0px 12px;
    .caption{
      line-height: 42px;
      &::after{
        right: 12px;
      }
    }
    .list{
      height: 125px;
      top: 41px;
      left: 0px;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
      .item{
        padding: 0px;
        a{
          display: block;
          padding: 8px 12px;
        }
      }
    }
  }
}