header{
    background-color: #fff;
    .headerTop{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        min-height: 120px;
        .logo{
            float: left;
            padding-left: 52px;
            font-weight: 700;    
            width: 204px;
            height: 50px;
            margin-top: 35px;
            cursor: pointer;
            line-height: 50px;
            background: url('../images/pc_color_logo.svg') no-repeat;
            background-size: 200px 50px;
            font-size: 0px;
            background-position: left center;
        }
        .topGnb{
            float: right;
            overflow: hidden;
            ul{
                margin-top: rem(45);
                li{
                    position: relative;
                    font-size: 20px;
                    font-weight: 500;
                    display: inline-block;
                    padding: 0 rem(20);
                    &.balloon{
                        margin-top: -4px;
                        margin-right: rem(20);
                        padding: 12px 26px;
                        background-color: #e1f0fc;
                        border-radius: 25px 25px 0px 25px;
                        font-size: 16px;
                    }
                    &:last-child{
                        padding-right: 0;
                        position: relative;
                        &:before{
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 0px;
                            transform:translateY(-50%);
                            width: 1px;
                            height: 20px;
                            background-color: #c2c2c2;
                        }
                    }
                }
            }
        }
    }
    
}

.headerGnb{
    ul{
        width: 1200px;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;

        li{
            flex: 1;
            text-align: center;
            height: 50px;
            line-height: 50px;
            font-size: 15px;

            a{
                font-size: 18px;
                color: #fff;
            }
            
        }
    }
}
@media (max-width:1199px) {
  .headerTop{
    display: none;
  }
}





.mobile-header{
  display: flex;
  @include flex-prefix-center-suffix;
  padding: 0 rem(20);
  height: rem(70);
  border-bottom: rem(1) solid $mobile-header-border;
  align-items: center;
  background-color: #fff;
  .prefix,.suffix{
      flex:1 1 27.5%;
      .menuBtn{
          z-index: 9000;
          position: absolute;
      }
  }
  .center{
      flex: 1 1 55%;
  }
  h1{
    font-size: rem(18);
    letter-spacing: -0.45px;
  }
  &.m_main{
    background: transparent;
    border:none;
  }
}

@media (min-width:1200px) {
    .mobile-header{
        &.m_main{
            display: none;
            background: #fff;
        } 
    }
  }

.mobile-menu{
    width: 0px;
    transition: all .5s;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.2);
    z-index: 8900;
    overflow: hidden;
    &.on{
        width: 100%;
    }
    .mm-cont{
        width: 270px;
        height: 100vh;
        background-color: #fff;
        float: right;
        padding-top: 120px;
        position:relative;
        .user-current{
            padding-left: 35px;
            .imgWrap{
                display: block;
                width: 60px;
                height: 60px;
                margin-bottom: 14px;
            }
            .mobile-ment{
                font-size: 16px;
                line-height: 26px;
            }
            .mm-btn{
                margin-top: 30px;
                overflow: hidden;
                a{
                    width: 82px;
                    height: 32px;
                    border-radius: 8px;
                    font-size: 14px;
                    float: left;
                    line-height: 20px;
                    &:nth-child(2){
                        margin-left: 12px;
                    }
                }
            }
        }
        .mobile-gnb{
            border-top: 6px solid rgb(241,243,246);    
            bottom: 0px;
            width: 100%;
            position: absolute;
            ul{
                padding: 15px 0px;
                margin: 0px 24px;
                li{
                    border-bottom: 1px solid rgb(237,237,237);
                    position: relative;
                    &::after{
                        content: "";
                        display: block;
                        background: url('../images/icon_menu_arrow.svg') no-repeat;
                        background-position: left center;
                        background-size: 8px;
                        position: absolute;
                        top: 15.5px;
                        right: 0px;
                        width: 8px;
                        height: 24px;
                    }
                    &:nth-child(1){
                        &::before{
                            content: "";
                            display: block;
                            background: url('../images/icon_notice.svg') no-repeat;
                            background-position: left center;
                            background-size: 15px;
                            position: absolute;
                            top: 15.5px;
                            left: 0px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content: "";
                            display: block;
                            background: url('../images/icon_guide.svg') no-repeat;
                            background-position: left center;
                            background-size: 13px;
                            position: absolute;
                            top: 15.5px;
                            left: 0px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content: "";
                            display: block;
                            background: url('../images/icon_center.svg') no-repeat;
                            background-position: left center;
                            background-size: 14px;
                            position: absolute;
                            top: 15.5px;
                            left: 0px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                    a{
                        display: block;
                        padding: 15px 0px;
                        padding-left: 24px;
                    }
                    &:nth-child(3){
                        margin-bottom: 26px;
                    }
                }
            }
        }
    }
}


@media (min-width:1220px) {
  .mobile-header{
      margin-bottom: 80px;
      border-bottom: 0;
    .prefix,.suffix{
      display: none;
      a{
          img{
              display: block!important;
          }
      }
    }
    .center{
      h1{
        font-size: 3rem;
        letter-spacing: -1.2px;
      }
    }
  }
}


@media (max-width:1200px) {
    
    header{
        display: none;
    }
    .mobile-header{
        // display: block;
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 999;
        .mob-logo{
            float: left;
            margin-left: 25px;
            p{
                font-size: 18px;
                font-weight: bold;
            }
        }
        .mob-btn{
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            right: 25px;
            z-index: 9999;
            .menu-on{
                display: block;
            }
            .menu-close{
                display: none;
            }
            &.enable{
                
                .menu-on{
                    display: none;
                }
                .menu-close{
                    display: block;
                }
            }
        }
        .hypen{
            width: 50%;
            height: 2px;
            background: #0682e2;
            z-index: 8888;
        }
        &.join{
            .hypen{
                position: absolute;
                top: 69px;
                left: 0px;
            }
        }
        &.join2{
            .hypen{
                position: absolute;
                top: 69px;
                left: 50%;
            }
        }
        &.m_main{
            position: absolute;
            display: flex;
        }
    }


  }

  
  .sub-header{
    @include flex-prefix-suffix;
    .prefix{
      font-size: rem(16);
      line-height: rem(22);
      font-weight: $medium-bold;
      letter-spacing: -0.4px;
    }
  }
  
