
.icon-circle-prev{
  @include icon-setting;
  background-image: url(../images/pageArrow.svg);
  background-size: 30px;
  width:rem(30);
  height:rem(30);
  &.active{
    background-image: url(../images/pageArrow_active.svg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.icon-circle-next{
  @include icon-setting;
  background-image: url(../images/pageArrow.svg);
  background-size: 30px;
  width:rem(30);
  height:rem(30);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  &.active{
    background-image: url(../images/pageArrow_active.svg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.icon-gray-arrow{
  @include icon-setting;
  background-image: url(../images/ico_gray_arrow.svg);
  width: rem(16);
  height: rem(16);
  background-size: 16px;
}
.icon-small-gray-arrow{
  @include icon-setting;
  background-image: url(../images/ico_gray_arrow.svg);
  width: rem(16);
  height: rem(16);
  background-size: 16px;
  margin: 0px 0.5rem;
}


.ico-close{
  @include icon-setting;
  background-image: url(../images/ico_close.svg);
  width: 18px;
  height: 18px;
}
.ico-prev{
  @include icon-setting;
  background-image: url(../images/ico_prev.svg);
  width: rem(11);
  height: rem(22);
}
.icon-checkbox-gray{
  @include icon-setting;
  background-image: url(../images/ico-chk-ago.svg);
  width: 30px;
  height: 30px;
}
.icon-checkbox-primary{
  @include icon-setting;
  background-image: url(../images/ico-chk-ok.svg);
  width: 30px;
  height: 30px;
}
.icon-checkbox-white{
  @include icon-setting;
  background-image: url(../images/ico-chk-not.svg);
  width: 30px;
  height: 30px;
}
.icon-search{
  @include icon-setting;
  background-image: url(../images/ico_search.svg);
  width: rem(32);
  height: rem(32);
}
.icon-gray-close{
  @include icon-setting;
  background-image: url(../images/ico_close_gray.svg);
  background-size: 32px;
  width: rem(32);
  height: rem(32);
}
.icon-eye{
  @include icon-setting;
  background-image: url(../images/ico_eye.png);
  background-size: contain;
  width: rem(16);
  height: rem(16);
}
.icon-clip{
  @include icon-setting;
  background-image: url(../images/ico_clip.svg);
  width: rem(16);
  height: rem(16);
}
.icon-sel-del{
  @include icon-setting;
  background-image: url(../images/icon_sel_del.svg);
  width: 20px;
  height: 20px;
}


.icon-home{
  @include icon-setting;
  background-image: url(../images/icon_home.svg);
  width: 24px;
  height: 24px;
}


.icon-root{
  @include icon-setting;
  background-image: url(../images/icon_root.svg);
  width: 16px;
  height: 16px;
}


.ico-facebook{
  @include icon-setting;
  background-image: url(../images/ico-facebook-gray.svg);
  width: 32px;
  height: 32px;
}

.ico-youtube{
  @include icon-setting;
  background-image: url(../images/ico-youtube-gray.svg);
  width: 32px;
  height: 32px;
}


.icon-root{
  @include icon-setting;
  background-image: url(../images/icon_root.svg);
  width: 16px;
  height: 16px;
}



.menuBtn{
  .icon-menu-not{
    @include icon-setting;
    background-image: url(../images/ico_not_menu.svg);
    width: 24px;
    height: 24px;
    background-size: 24px;
    display: block;
    &.white{
      background-image: url(../images/ico_not_menu_w.svg);
    }
  }
  &.enable{
    .icon-menu-not{
      @include icon-setting;
      background-image: url(../images/ico_close.svg);
      width: 18px;
      height: 18px;
      background-size: 18px;
      display: block;
    }
  }
}


@media (max-width:1200px){
    
  .icon-checkbox-gray{
    @include icon-setting;
    background-image: url(../images/ico-chk-ago.svg);
    width: 16px;
    height: 16px;
  }
  .icon-checkbox-primary{
    @include icon-setting;
    background-image: url(../images/ico-chk-ok.svg);
    width: 16px;
    height: 16px;
  }
  .icon-checkbox-white{
    @include icon-setting;
    background-image: url(../images/ico-chk-not.svg);
    width: 16px;
    height: 16px;
  }
  .icon-gray-close{
    @include icon-setting;
    background-image: url(../images/ico_close_gray.svg);
    background-size: 20px;
    width: rem(20);
    height: rem(20);
  }
}