.infoLine{
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin-bottom:rem(14) ;
  .lineTitle{
    font-size: rem(12);
    p{
        margin: 0px;
        span{
            display: inline-block;
            line-height: 20px;
        }
    }
  }
  &.m-b-30{
      margin-bottom: 20px;
      &.long input[type="text"]{
          width: calc( 100% - 95px )!important;
      }
  }
  input[type="text"],
  input[type="password"]{
      border-bottom: none;
      font-size: 16px;
      margin-bottom: 0px;
      padding: 0px;
      &::placeholder{
          font-size: 18px;
      }
  }
  input[type="checkbox"] + label {
      font-size: 14px;
      position: absolute;
      font-size: 14px;
      left: 0px;
      margin-top: 77px;
  }
  button{
      height: auto;
      font-size: 14px;
      background-color: transparent;
      float:right;    
      margin-top: 15.5px!important;
      margin-bottom: auto!important;
  }
  .lineTitle{
    margin-bottom: 5px;
  }
  &.conLabel{
      margin-bottom: 62px;
      font-size: 14px;
  }
  
  
  select{
      display: block;
      height: 26px;
      line-height: 26px;
      font-size: 18px;
      background-size: 15px;
      option{
          font-size: 14px;
      }
  }   

  input[type="date"]{
      display: none;
  }
}




.infoLine{
    padding: 12px 20px;
    background-color: #fff;
    &.iBot0{
        margin-bottom: 0px!important;
    }
    &.danger{
        margin-bottom: 15px;
        border: 1px solid red;
    }
    &.disabled{
        background-color: #f8f8f8;
        pointer-events: none;
        input{
            background-color: #f8f8f8;
        }
    }
    span{
        font-size: 20px;
    }
    .fs-20{
        font-size: 16px!important;
    }
    .lineWrap{
        overflow: hidden;
        .dateWrap{
            padding: 0.875rem 0px;
        }
    }
    input[type="text"],
    input[type="password"]{
        font-size: 18px;
        padding: 0.75rem 0;
        width: 100%;
        float: left;
        cursor: pointer;
        &::placeholder{
            color: $white-four;
        }
    }
    &.conTwo input[type="text"]{
        width: calc( 100% - 95px )!important;
        &:disabled{
            background-color: #fff;
        }
    }
    &.conLabel input[type="text"]{
        width: calc( 100% - 155px );
    }
    input[type="checkbox"] + label{
        font-size: 20px;
        float: left;
    }
    button{
        color: #0482e2!important;
        background-color: transparent!important;
        margin-left: 10px;
        float: right;
        cursor: pointer;
    }
    
    select{
        display: none;
        background: url('../images/selDown.svg') no-repeat;
        background-position: right center;
        background-size: 20px;
        width: 100%;
        cursor: pointer;
        option{
            font-size: 18px;
        }
    }       
    &.radioLabel{
        padding: 0px!important;
        border: none!important;
        overflow: hidden;
        div{
            font-size: 18px;
            float: left;
            display: block;
            text-align: center;
            width: 48%;
            cursor: pointer;
            &:nth-child(2){
                margin-left: 4%;
            }
            label{
                width: 100%;
                padding: 0.875rem 0px;
                border: 1px solid rgb(212,212,212);
                border-radius: 10px;
                display: block;
                cursor: pointer;
                height: 60px;
            }
            .toggle-input{
                display: none;
                ~ .toggle-label {
                    border: 1px solid rgb(212,212,212);
                    span{
                        display: inline-block;
                        height: 26px;
                        line-height: 26px;
                        padding-left: 38px;
                        background-image: url("../images/icon_label_off.svg");
                        background-position: left center;
                        background-repeat: no-repeat;
                    }
                }
                &:checked {
                    ~ .toggle-label {
                        border: 1px solid #0682e2;
                        span{
                            background-image: url("../images/icon_label_on.svg");
                        }
                    }
                }
            }
        }
    }
    &.switchLabel{
        border: none!important;
        overflow: hidden;
        padding: 0px;
        background-color: transparent;
        margin-top: 30px;
        .switch{
            width: 51px;
            height: 31px;
            display: block;
            float: right;
            border-radius: 45px;
            position: relative;
            cursor: pointer;
            padding: 3px;
            .slider{
                display: block;
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                background-color: #fff;
            }
            &.off{
                background-color: #ccc;
                .slider{
                    top: 3px;
                    left: 3px;
                }
            }
            &.on{
                background-color: $gnbBg;
                .slider{
                    top: 3px;
                    right: 3px;
                }
            }
        }
    }  
    &.labelId{
        padding: 0px!important;
        border: none!important;
        overflow: hidden;
        margin-top: 30px!important;
        margin-bottom: 40px!important;
        div{
            font-size: 18px;
            float: left;
            display: block;
            text-align: center;
            cursor: pointer;
            position: relative;
            &:nth-child(2){
                margin-left: 16px;
                padding-left: 16px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 12px;
                    background-color: rgb(204,204,204);
                    top: 8.5px;
                    left: 0px;
                }
            }
            label{
                width: 100%;
                border-radius: 10px;
                display: block;
                cursor: pointer;
            }
            .toggle-input{
                display: none;
                ~ .toggle-label {
                    span{
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        padding-left: 28px;
                        background-image: url("../images/icon_label_off.svg");
                        background-position: left center;
                        background-repeat: no-repeat;
                        background-size: 20px;
                    }
                }
                &:checked {
                    ~ .toggle-label {
                        span{
                            background-image: url("../images/icon_label_on.svg");
                        }
                    }
                }
            }
        }
    }
    &.half{
        #boxInput{
            width: 49%!important;
            border: 1px solid rgb(212,212,212);
            border-radius: 10px;
            height: 56px;
            font-size: 18px;
            line-height: 56px;
            text-align: center;
        }
        .dropdown{
            width: 49%!important;
            margin-left: 2%;
            float: left;
        }
    }
}


.labelLine{
    display: block;
    overflow: hidden;
    label{
        font-size: 20px;
    }
    button{
        float: right;
        background-color: transparent;
        color: $gnbBg;
        font-size: 18px;
        border-bottom: 1px solid $gnbBg;
    }
}


// 운송정보 부분
.carInfo{
    display: none;
    &.visible{
        display: block;
    }
}



.joinWrap {
    .container{
        .section{
            &.myMody{
                .container{
                    padding-top: 0px!important;
                    .section{
                        .infoLine{
                            .mailIcon{
                                font-size: 18px;
                                font-weight: bold;
                                color: #6e6e6e;
                            }
                            select{
                                display: none;
                                width: calc( 100% - 40px );
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
            
        
        }
    }
}




@media (max-width: 1200px) {



    .infoLine{
        margin-left: 24px;
        margin-right: 24px;
        span{
            font-size: 14px;
        }
        .fs-20{
            font-size: 12px !important;
        }
        button{
            padding: 0px;
            width: auto;
            float: right;
            color: #0682e2!important;
            background-color: transparent!important;
            margin-top: 2.5px!important;
        }
        input[type="text"],
        input[type="password"]{
            padding: 0;
        }
        &.conTwo{
            input[type="text"]{
                width: calc( 100% - 65px) !important;
            }
        }
        .dropdown{
            display: none;
        }
        select{
            display: inline-block;
        }
        #departPick{
            display: block;
        }
                    
        &.half{
            border: none!important;
            padding: 0px!important;
            #boxInput{
                height: 52px;
                line-height: 52px;
            }
            select{
                &.boxSel{
                    height: 52px;
                    width: 49%!important;
                    float: left;
                    margin-left: 2%;
                    border: 1px solid #d4d4d4;
                    border-radius: 10px;
                    padding: 0px 20px;
                    background-position: 92% center;
                }
            }
        }
        &.labelId{
            padding:  0px 1.5rem!important;
        }
    }
    .input-text-wide{
        padding:  0px 1.5rem!important;
    }
    .joinWrap{
        .container{
            .section {
                &.myMody{
                    .container{
                        .section{
                            .infoLine{
                                select{
                                    display: inline-block;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
                .infoLine{
                    padding: 12px 20px;
                    margin: 0px;
                    &.m-b-30{
                        margin-bottom: 15px;
                        &.conTwo input[type="text"]{
                            width: calc( 100% - 65px )!important;
                        }
                        &.long input[type="text"]{
                            width: calc( 100% - 95px )!important;
                        }
                    }
                    input[type="text"],
                    input[type="password"]{
                        border-bottom: none;
                        font-size: 18px;
                        height: 26px;
                        line-height: 26px;
                        margin-bottom: 0px;
                        padding: 0px;
                        &::placeholder{
                            font-size: 18px;
                        }
                    }
                    input[type="checkbox"] + label {
                        font-size: 14px;
                        position: absolute;
                        font-size: 14px;
                        left: 0px;
                        margin-top: 55px;
                    }
                    button{
                        width: auto;
                        height: auto;
                        font-size: 14px;
                        color: rgb(175,175,175);
                        background-color: transparent;
                        float:right;
                        padding: 0px!important;
                        line-height: 26px;
                        &#searPro,
                        &#addSear,
                        &#searBank,
                        &#certyReque,
                        &#numconFirm,
                        &#numCheck{
                            color: $gnbBg;
                        }
                        &#idCheck,
                        &#sendCerty{
                            padding: 0px;
                        }
                    }
                    .lineTitle{
                        .fs-20{
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                    }
                    &.conLabel{
                        margin-bottom: 62px;
                        font-size: 14px;
                    }
                    
                    
                    select{
                        display: inline-block;
                        height: 26px;
                        line-height: 26px;
                        font-size: 18px;
                        width: calc( 100% - 20px );
                        background-size: 15px;
                        option{
                            font-size: 14px;
                        }
                    }     
                }
                .labelLine{
                    label{
                        font-size: 14px;
                    }
                    button{
                        font-size: 14px;
                        margin-top: 2px;
                    }
                }
            }
        } 
    } 
    
}