select{
  font-family: 'Noto Sans KR';
  appearance: none;
}
/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { 
  display: none; 
}
input {
  font-family: 'Noto Sans KR';
  appearance: none;
}

input:disabled{
  background-color: #fff;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

/* input 타입 */
input{
  &.border-bottom{
    padding: rem(12) 0;
    border-bottom: rem(2) solid $white-four;
    &::placeholder {
      color: $white-four;
      font-size: rem(18);
    }
    &:focus{
      border-bottom: rem(2) solid $gnbBg;
    }
  }
}
.input-text-wide{
  input.border-bottom{
    width: 100%;
    font-size: 26px;
    margin-top: rem(14);
    &::placeholder{
      font-size: 26px;
    }
  }  
  &.m-t-20{
    margin-top: 30px!important;
  }
  label{
    font-size: 20px;
  }
}
input[type="text"]{
  &.under-border-type{
    border-bottom: rem(2) solid $pinkishGrey;
    padding-bottom: rem(20);
  }
}
input[type="password"]{
  font-size: rem(30);
  padding: rem(2) 0;
}


textarea{
  font-family: 'Noto Sans KR';
}



@media (max-width:1200px){
  input[type="checkbox"] + label{
    margin-left: 25px;
  }
  
  .input-text-wide{
    input.border-bottom{
      font-size: 18px;
      &::placeholder{
        font-size: 18px;
      }
    }  
    &.m-t-20{
      margin-top: 20px!important;
    }
    label{
      font-size: 15px;
    }
  }
}


