$small: 300px;
$medium: 900px;

body,html{
    width: 100%;
}
.joinWrap {
    button{
        &:disabled{
            background-color: #ccc;
        }
    }
    .container{
        width: 100%;
        .lnb{
            padding: 0px!important;
        }
        .sub-title{
            padding-left: 0px!important;
        }
        .section{
            width: 700px;
            margin: 0 auto;
            position: relative;
            button{
                cursor: pointer;
            }
            .currentPage{
                position: absolute;
                top: 20px;
                right: 0px;
                font-weight: bold;
                background-color: #e1f0fc;
                color: #55a4e2;
                font-size: 20px;
                border-radius: 20px;
                padding: 3px 10px;
            }

            .title{
                text-align: center;
                margin: 0px 0px 60px;
            }
            .alert-danger{
                display: block;
                color: #ff3221;
                margin-bottom: 30px;
                font-size: 0.875rem;
                &.passNot{
                    display: none;
                }
            }
        }
    }

    &.join2{
        .sub-title{
            font-size: 24px;
            font-weight: bold;
        }
        .sub-ment{
            font-size: 18px;
            line-height: 20px;
            margin: 8px 0px 24px;
            display: block;
        }
    }

    &.myMody{
        .container{
            padding-top: 0px!important;
            .section{
                .conWrap{
                    .topTab{
                        width: 100%;
                        overflow: hidden;
                        height: 48px;
                        border: 4px solid #eef0f5;
                        border-radius: 48px;
                        background-color: #eef0f5;
                        .tabs{
                            li{
                                float: left;
                                width: 50%;
                                text-align: center;
                                height: 40px;
                                line-height: 40px;
                                font-size: 18px;
                                border-radius: 40px;
                                background-color: transparent;
                                font-weight: bold;
                                cursor: pointer;
                                &.active{
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (max-width: 1200px) {

    .joinWrap{
        .container{
            padding-top: 70px;
            .section {
                padding: 0px 25px;
                .alert-danger{
                    font-size: 12px;
                    margin-bottom: 20px;
                }
                .currentPage{
                    right: 20px;
                    font-size: 15px;
                }
                .title{
                    margin: 30px 0px;
                    line-height: 46px;
                }
                .nextBtn{
                    &.m-t-30{
                        margin-top: 16px;
                    }
                    &.m-b-80{
                        margin-bottom: 60px;
                    }
                }
                .labelLine{
                    label{
                        font-size: 14px;
                    }
                    button{
                        font-size: 14px;
                        margin-top: 2px;
                    }
                }
            }
        } 
            
        &.join2{
            .sub-title{
                font-size: 16px;
                line-height: 22px;
            }
            .sub-ment{
                font-size: 12px;
                line-height: 20px;
            }
        }
    } 
    
}

@media (max-width: 700px) {
    .joinWrap .container .section{
        width: 100%;
        padding: 0px 25px;
    }
}


