 @media (min-width:1200px) {
  body{
    background-color: #f9f9f9;
  }
  .lobin_box{
    padding-top: 60px;
    label{
      font-size: 20px;
      &.m-t-16{
        margin-top: 24px;
      }
    }
    input[type="checkbox"] {
      + label{
        font-size: 20px;
      }
    }
    input{
      font-size: 26px;
      &::placeholder{
        font-size: 26px;
      }
    }
  }
  .container{
    width: 100%;
    min-width: rem(1200);
    &.sub{
      overflow: hidden;
      .conWrap{
        background-color: #fff;
        padding: 80px 350px 80px 350px;
        margin-bottom: 35px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.04);
        &.wide{
          padding: 80px 100px 80px 100px;
        }
        &.full{
          padding-left: 0px;
          padding-right: 0px;
          .paddingBox{
            max-width: 61.875rem;
            margin: auto;
            &.p0{
             .wide-list{
               &.fs-15{
                ul{
                  li{
                    &:nth-child(1){
                      border-top: 6px solid #ededed;
                    }
                  }
                }
               }
              }
            }
          }
          .infoWrap{
            width: 500px;
            margin: 0 auto;
            position: relative;
            .btn-group{
              padding:0;
            }
          }
        }
      }
    }
    .section{
      width: 100%;
      max-width: rem(990);
      margin: auto;
      &.mw1200{
        max-width: rem(1200)!important;
        width: rem(1200)!important;
      }
    }
    .m_container{
      padding-top: rem(100);
      .section{
        width: rem(790);
        .lobin_box{
          width: rem(500);
          margin: 0 auto;
        }
      }
    }      
    .m_height{
      margin-top: rem(100);         
      .m_flex{
        display: flex;
        flex-direction: row-reverse;    
        width: 786px;
        margin-left: -144px;
        button{
          & + button{
            margin-right:rem(30);
          }
        }
      }   
      .help{
        text-align: center;
        &.m-t-30{
          margin-top: 60px;
        }
        a.cornflowerBlue{
          color:$cornflowerBlue;
        }
      }
    }
    .p_show{
      a{
        display: inline-block;
        width:25%;
      }
    }
    //이용약관 내부 박스-ys
    .innerBox{
      width: rem(1000);
      margin: 0 auto;
      margin-top: 80px;
      padding-top: 60px;
      border-top: 1px solid #6e6e6e;
      img{
        max-width: 638px;
        width: 100%;
      }
      .personTitle{
        font-size: 24px;
        font-weight: $semi-bold;
      }
      .personSubTtitle{
          font-size: 18px;
          font-weight: $semi-bold;
      }
      .miniTitle{
          font-size: 14px;
          font-weight: $semi-bold;
      }
      .context{
          font-size: 12px;
          font-weight: normal;
      }
      input{
        appearance: auto;
        margin-left: 10px;
      }
      .has-img{
        text-align: center;
      }
    }
  }
  //mobile만 보임-1200이상일 떄 none -ys
  .m_show{
    display: none;    
  }  
  main{
    &.m_show{
      display: none;
    }
  }
}
@media (max-width:1199px) {
  .container{
    width: 100%;
    min-width: auto;
    &.sub{
      overflow: hidden;
      margin-top: 70px;
      padding-bottom: rem(60);
    }
    .section{
      max-width: auto;
      width: 100%;
      .conWrap{
        .paddingBox{
          &.p0{
            padding: 0px;
          }
          .detail{
            &.p-t-67{
              padding-top: 0px!important;
            }
          }
          form{
          }
        }
      }
      &.none-pad{
        padding: 0;
      }
    }  
    //레이아웃이 변하는 구조-ys
    .m_container{
      padding-top: rem(100);
    }      
    .m_height{
      height: calc(100vh - 420px);
      position: relative;
      .m_bottom-group{
        width: 100%;
        position: absolute;
        bottom: rem(50);
        padding: 0 1.5rem;
      }
      .m_flex{
        button{
          width: 100%;
          & + button{
            margin-top:rem(16);
          }
        }
      }
      .help{
        text-align: center;
        a.cornflowerBlue{
          color:$cornflowerBlue;
          text-decoration: underline;
        }
      }
    }
    
    //이용약관 내부 박스-ys
    .innerBox{
      padding: 20px 0px;
        p{
          padding: 0px 25px;
        }
      img{
        max-width: 638px;
        width: 100%;
      }
      .personTitle{
        font-size: 14px;
        font-weight: $semi-bold;
        &.m-b-30{
          margin-bottom: 20px;
        }
        &.m--b-10{
          margin-bottom: 10px;
        }
      }
      .personSubTtitle{
          font-size: 14px;
          font-weight: $semi-bold;
          &.m-b-30{
            margin-bottom: 20px;
          }
          &.m--b-10{
            margin-bottom: 10px;
          }
      }
      .miniTitle{
          font-size: 12px;
          font-weight: $semi-bold;
          &.m-b-30{
            margin-bottom: 20px;
          }
          &.m--b-10{
            margin-bottom: 10px;
          }
      }
      .context{
          font-size: 12px;
          &.m-b-30{
            margin-bottom: 20px;
          }
          &.m--b-10{
            margin-bottom: 10px;
          }
      }
    }
  }
  
  .lobin_box{
    padding-top: 40px;
  }
  //pc만 보임-1200이하일 떄 none -ys
  .p_show{
    display: none;
  }
  
  main{
    &.m_show{
      display: block;
    }
  }
  .btn-group{
    width: calc( 100% - 48px );
  }
  .conWrap{
    .btn-group{
      margin-left: auto!important;
    }
    .infoWrap{ 
      .btn-group{
        margin-left: auto!important;
        width: 100%;
      }
    }
  } 
}

