.list-table{
  display: flex;
  ul{
    width: 100%;
    li{
      font-size: rem(13);
      text-align: center;
      line-height: rem(41);
      border-bottom:rem(1) solid  $table-border;
      a{
        position: relative;
        color: $cornflowerBlue;
        &:after{
          content: '';
          background-image: url(../images/ico_pupple_arrow.svg);
          @include icon-setting ;
          width: 16px;
          height: 16px;
          position: absolute;
          top: 2px;
          left: 24px;
        }
      }
      &:first-child{
        background-color: $table-th-bg;
        font-weight: $medium-bold;
        font-size: rem(12);
        line-height: rem(41);
        text-align: center;
        letter-spacing: -0.33pt;
      }
    }
  }
  &.row-type{
    ul{
      margin-right: rem(2);
      &:last-child{
        margin-right: 0;
      }
    }
    //table - ys
    table{
      width: 100%;
      border-collapse: initial;
      tr{
        font-size: rem(12);
      }
      th{
        background: $paleGrey;
        padding: rem(10) rem(5);
        text-align: center;
      }
      td{
        padding: rem(10) rem(12);    
        border-bottom: 0.0625rem solid $table-border;        
        .listShow-btn{
          text-decoration: underline;
          cursor: pointer;
        }
        &.listShow{
          display: none;
          &.active{
            display: table-cell;
          }
        }
        a{
          color: $blue;
          text-decoration: underline;
        }
      }
      &.center{
        text-align: center;
      }
    }
  }
  &.col-type{
    flex-wrap: wrap;
    ul{
      display: flex;
      margin-bottom:rem(7);
      li{
        flex: 1 1 60%;
        text-align: left;
        &:first-child{
          flex: 1 1 40%;
          padding-left: rem(12);
          margin-right: rem(12);
        }
      }
    }
  }
}


.innerBox{
  .list-table{
    tr{
      th{
        &:nth-child(6){
          width: 11%;
        }
      }
    }
  }
}


.wide-list{
  padding-bottom:rem(130);
  &.m-t-71{
    margin-top: 0px!important;
  }
  &.m-t-70{
    margin-top: 0px!important;
  }
  >ul{
    >li{
      &:first-child{
        border-top: 1px solid #6e6e6e;
      }
      &:hover{
        background-color: #e1f0fc;
      }
    }
  }
  ul{
    >li{
      border-bottom:rem(1) solid #ededed;
      a{
        width: 100%;
        padding: rem(24) rem(24);
        @include flex-prefix-suffix;
        .prefix{
          width: 80%;
          flex-direction: column;
          align-items: baseline;
          .question{
            width: 100%;
            font-size: rem(18);
            line-height: rem(25);
            margin-bottom: rem(4);
            @include ellipsis;
          }
          .state{
            font-size: rem(12);
            width: 100%;
            ul{
              display: flex;
              li{
                position: relative;
                padding:0 rem(12);
                color: $greyish;
                border-bottom: 0;
                &:after{
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: rem(1);
                  height: rem(14);
                  background-color: $greyish;
                }
                &.answer-state{
                  &.waiting{
                    color:$purple;
                   }
                }
                &.name{
                  color:$lightishBlue;
                }
                &:last-child{
                  &:after{
                    display: none;
                  }
                }
                &:first-child{
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:1200px) {
  .wide-list{
    padding-bottom: 0;
  }
  .list-table{
    &.col-type{
      ul{
        li{
          font-size: 15px;
          &:first-child{
            font-size: 16px;
          }
        }
      }
    }
    ul{
      li{
        font-size: 15px;
        &:first-child{
          font-size: 16px;
        }
        a{
          &::after{
            
            width: 16px;
            height: 16px;
            position: absolute;
            top: 3px;
            left: 29px;
          }
        }
      }
    }
  }
  .state{
    font-size: 14px!important;
  }
}

@media (max-width:1200px) {
  .list-table{
    padding: 0 rem(24);
  }
  .wide-list{
      
    >ul{
      >li{
        &:first-child{
          border-top: none;
        }
        a{
          padding:17px 24px;
          .prefix{
            .question{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}