.lnb{
  border-bottom: rem(1) solid $lnb-border;
  margin-bottom: 80px;
  &.m-b-24{
    margin-bottom: 80px;
  }
  ul{
    display: flex;
    align-items: center;
    height: auto;
    width: 61.875rem;
    margin: 0 auto;
    li{
      margin-right: rem(24);
      &:last-child{
        margin-right: 0;
      }
      &:first-child{
      }
      a{
        color:$greyish;
        font-size: rem(16);
        line-height: rem(41);
      }
      &.active{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 100%;
          height: rem(4);
          background-color: $black;
        }
        a{
          color: $black;
        }
      }
    }
  }
}

@media (min-width:1200px) {
    .lnb{
      width: 100%;
      margin-top: 28px;
      &.idLnb{
        margin-bottom: 37px;
      }
      ul{
        margin-bottom: 8px;
        li{
          margin-right: rem(30);
          &:first-child{
            margin-left: 0;
          }
          a{
            font-size: 24px;
            font-weight: bold;
          }
          &.active{
            &:after{
              bottom: -8px;
            }
          }
      }
    }
  }
}

@media (max-width:1200px){
  .lnb{
    padding: 0px 24px;
    margin-bottom: 0px;
    &.m-b-24{
      margin-bottom: 24px;
    }
  }
}