

main{
  padding:rem(20);
  padding-bottom: rem(60);
  background: $white;
  //공통
  .roundBox{
    border-radius: rem(20);
  }  
  .chkBtn{
    background: linear-gradient($gnbBg, $azul);
    position: relative;
    a{
      color:$white;
    }
    img:last-child{
      position: absolute;
      right: rem(30);
      top: 47%;
      transform: translateY(-50%);
    }
  }
  h1{
    span{
      display: block;
      font-weight: 400;
    }
  }


  //PC 메인
  .container{
    width: rem(1200);
    margin: 0 auto;
    .mainGrid{
      display: flex;
      .leftGrid{
        width: rem(786);
        height: rem(690);
        padding: rem(80) rem(72);
        background-image: url(../images/bg-main01.png), linear-gradient(to bottom right, $gnbBg, $purple);
        background-size: cover;
        color:$white;
        h1{
          font-size: rem(68);
          margin-bottom: rem(20);
          letter-spacing: -1.7px;
          line-height: 82px;
          padding: 8.5px 0px;
        }
        p{      
          color: $babyBlue;
          font-size: rem(18);
          b{
            color:$white;
            font-weight: 500;
          }
        }
        .wideRound{
          margin-top: auto!important;
          margin-bottom: auto!important;
          display: block;
          width: rem(207);
          font-size: rem(12);
          color: $babyBlue;
          span{
            color:$white;
            &.market{
              color:$babyBlue;
            }
            &.count{
              font-size: rem(36);
              font-weight: 700;
            }
            &.unit{
              font-size: rem(18);
            }
          }
          & + .wideRound{
            margin-top: rem(12)!important;
          }
        }
        .btnBox{
          float: left;
          margin-top: rem(138);
          span{
            vertical-align: middle;
            &.count{
              margin-left: 5px;
            }
            &.unit{
              vertical-align: -10px;
            }
          }
        }
      }
      .rightGrid{
        margin-left:rem(36);
        .swiper-container{
          width: rem(378);
          height: rem(540);
          border-radius: rem(20);
          .swiper-slide{   
            position: relative;   
            padding: rem(80) rem(40);
            padding-top: rem(340);
            color:$white;
            p{
              margin-top: rem(12);
            }
            &.swiper01{
              background-image: url(../images/bg-main02-1.png);
            }
            &.swiper02{
              background-image: url(../images/bg-main02-2.png);
            }
            &.swiper03{
              background-image: url(../images/bg-main02-3.png);
            }
            &::after{
              content:'';
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.4);
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          .swiper-pagination{
            left: 50%;
            bottom: rem(30);
            transform: translateX(-50%);
            .swiper-pagination-bullet{
              margin: 0 rem(5);
              width: rem(10);
              height: rem(10);
              background: $pinkishGrey;
            }
            .swiper-pagination-bullet-active{
              width: rem(30);
              border-radius: rem(10);
              background: $white;
            }
          }
        }
        h2{
          position: relative;
          z-index: 1;
          font-size: rem(28);
          font-weight: 500;
        }
        p{
          position: relative;
          z-index: 1;
          font-size: rem(18);
          font-weight: 300;
        }
        .chkBtn{
          width: rem(378);
          height: rem(120);
          margin-top: rem(30);
          padding:rem(30);
          font-size: rem(32);
          font-weight: 500;
        }
      }
    }
    .guideWrap{
      display: flex;
      justify-content: space-between;
      margin-top: rem(30);
      margin-bottom: 11px;
      .roundBox{
        position: relative;
        width: rem(378);
        height: rem(160);
        background: linear-gradient($white-eight, $white-seven);
        a{
          display: block;
          padding: rem(30) rem(30) rem(24) rem(40);
        }
      }
      .tit{
        font-size: rem(28);
        font-weight: 500;
      }
      span{
        font-size: rem(14);
        color:$greyish;
      }
      .ico{
        padding: rem(18);
        border-radius: 50%;
        float: right;
        img{
          vertical-align: middle;
        }
        &.guide{
          background: $paleLilac;
        }
        &.ask{
          background: $lightSage;
        }
        &.notice{
          background: $lightPeach;
        }
      }
    }
  }
  //mobile 메인 레이아웃
  &.m_show{
    background: $paleGrey;
    padding-bottom: 0;
    position: relative;
    z-index: 0;
    &::before{
      content:'';
      width: 100%;
      height: 40%;
      background: linear-gradient(to bottom right, $gnbBg, $purple);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .m_mainGrid{
    padding-top: rem(90);
    padding-bottom: rem(50);
    position: relative;
    z-index: 1;
    .m_mainBox{
      h1{
        color:$white;
        font-size: rem(32);
        margin-bottom: 12px;
      }
      p{
        color:$babyBlue;
        font-size: rem(14);
        font-weight: 300;
        b{
          color:$white;
          font-weight: 500;
          line-height: 24px;
          height: 44px;
        }
      }
    }
    .countBox{
      display: flex;
      padding: rem(24) 0;
      margin-top: rem(24);
      background: $white;
      border-radius: 20px;
      > div{
        width: 50%;
        text-align: center; 
        &:first-child{
          border-right:1px solid $table-border;
        }
      }
      .market{
       display: inline-block;
       padding: rem(6) rem(12);
       border-radius: rem(30); 
       background: $paleGrey-4;       
       font-size: rem(12);
       font-weight: 500;
      }
      .count{
        font-size: rem(36);
        font-weight: 700;
      }
      .unit{
        font-size: rem(18);
        font-weight: 500;
      }
    }
    .chkBtn{
      margin-top: rem(16);
      padding: rem(20) rem(16);
      border-radius: 14px;
      span{
        font-weight: 400;
      }
      img:last-child{
        right: rem(16);
      }
    }
    .guideWrap{
      margin-top: rem(24);
      border-radius: 16px;
      padding: rem(30) rem(26);
      background: linear-gradient($tealish, $blueGreen); 

        display: flex;
        justify-content: space-around;
        text-align: center;     
        a{
          display: block;
          max-height: 78px;
          .ico{
            float: none;
            display: inline-block;
            padding: rem(12);
            background: rgba(255,255,255,0.2);
            border-radius: 50%;
            margin-bottom: rem(10);
            max-height: 48px;
            img{
              width: rem(24);
              vertical-align: middle;
              display: block;
            }
          }
          .tit{
            font-size: rem(13);
            color: $white;
            font-weight: 400;
          }
        }

    }
    .memberBox{
      margin-top: rem(32);
      padding: rem(22) rem(20);
      background: linear-gradient($white, $white-nine);
      position: relative;
      font-size: rem(14);
      border-radius: 12px;
      font-weight: 500;
      img{
        position: absolute;
        right: rem(20);
        top: -12px;
      }
    }
  }
}