.mail {
  background-color: $white;
  width: rem(1050);
  margin: auto;
  .mail-form {
    padding: rem(60) rem(60) rem(60);
    .logo {
      width: 100%;
      height: 50px;
      background: url(../images/pc_color_logo.svg) no-repeat;
      background-size: 200px 50px;
      font-size: 0px;
      background-position: right center;
    }
    .mail-form-title {
      font-size: rem(32);
      letter-spacing: -0.8px;
      color: $gnbBg;
      margin-top: rem(40);
      margin-bottom: rem(40);
      font-weight: 500;
    }
    .greeting {
      font-size: rem(32);
      line-height: rem(46);
      letter-spacing: -0.8px;
      color: $black-two;
      margin-bottom: rem(60);
      font-weight: $medium-bold;
      .sub-greeting {
        font-size: rem(24);
        letter-spacing: -0.6px;
        color: $brownishGrey;
      }
    }
    .code-tag {
      display: inline-block;
      width: rem(158);
      height: rem(48);
      font-size: rem(20);
      line-height: rem(48);
      text-align: center;
      background-color: $paleGrey-three;
      border: 1px solid $darkSkyBlue;
      border-radius: rem(28);
      color: $black-two;
      font-weight: $medium-bold;
    }
    .code-number {
      margin: auto;
      margin-top: rem(22);
      width: rem(400);
      height: rem(100);
      background-color: #f1f4f6;
      text-align: center;
      font-size: rem(32);
      line-height: rem(100);
      font-weight: $medium-bold;
      color: $black-two;
    }
    .proposal {
      font-size: rem(22);
      font-weight: $medium-bold;
      line-height: rem(44);
      letter-spacing: -0.6px;
      margin-top: rem(120);
    }
  }
  .mail-footer{
    background-color: $paleGrey;
    padding: rem(40) 0 rem(40) rem(60);
    .footer-title{
      font-size: rem(18);
      line-height: rem(28);
      letter-spacing: -0.45px;
      color: $brownishGrey;
      margin-bottom: rem(12);
    }
    .footer-info{
      font-size: rem(16);
      line-height: rem(28);
      letter-spacing: -0.4px;
      color: $brownishGrey;
      margin-bottom: rem(20);
    }
    .copyright{
      font-size: rem(14);
      line-height: rem(28);
      color:$greyish;
    }
  }
}