@mixin flex-prefix-suffix{
  display: flex;
  .prefix, .suffix{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}
@mixin flex-prefix-center-suffix {
  display: flex;
  .prefix, .center, .suffix{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }
  .center{
    justify-content: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}
@mixin ellipsis {
  display: block;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin icon-setting {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}