
.modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 99;
    .mobile-header{
        margin-bottom: 0px;
    }
    .infoLine{
        min-height: 58px!important;
        &.m-t-30{
            margin-top: 0px;
        }
    }
    .btn{
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        max-width: 100%;
        height: 56px!important;
        line-height: 56px!important;
        &.loginBtn{            
            height: inherit!important;
            line-height: inherit!important;
        }
    }
    &.myPop{
        &.visible{
            display: block;
        }
        .modalWrap{
            width: 300px;
            height: 222px;
            padding: 24px 18px 18px;
            p{
                display: block;
                text-align: center;
                font-size: 18px;
                line-height: -0.45px;
            }
            span{
                display: block;
                font-size: 14px;
                text-align: center;
                &.span1{
                    margin-top: 12px;
                }
                &.span2{
                    margin-bottom: 2px;
                }
            }
            input{
                font-size: 18px;
                height: 32px;
                line-height: 32px;
                margin: 22px 7px 2px;
                width: calc( 100% - 14px );
                border-bottom: 1px solid #d4d4d4;
                &::placeholder{
                    color: #d4d4d4;
                }
            }
        }
    }
    &.myPop2{
        &.visible{
            display: block;
        }
        .modalWrap{
            height: 200px;
        }
    }
    &.visible{
        display: block;
    }
    &.chkId{
        .modalWrap{
            padding: 20px;
        }
    }
    .modalWrap{
        width: 400px;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        p{
            font-size: 16px;
            text-align: center;
        }
        .activePro{
            overflow: hidden;
            padding: 0px 80px;
            p{
                text-align: left;
                float: left;
            }
            button{
                float: right;
                font-size: 16px;
                color: #0482e2;
                background-color: transparent;   
            }
        }
        button{
            cursor: pointer;
        }
    }

    &.subPop{
        z-index: 9998;
        .modalWrap{
            padding-top: 0px;
            width: 600px;
            //wide 팝업/ 회원가입-약관동의 -ys
            &.wide{
                width: rem(800);
                .modalBody{
                    padding: rem(30) rem(24);
                    height: rem(480);
                    overflow-y: scroll;
                    input{
                      appearance: auto;
                      vertical-align: -2px;
                    }
                    label{
                      font-size: rem(12);
                    }
                }
            }
            .mobile-header{
                display: flex!important;
                position: inherit;
                border-radius: 20px 20px 0px 0px;
                .prefix{
                    display: flex!important;
                }
                .center{
                    margin-bottom: 0px;
                    h1{
                        font-size: 1.125rem;
                    }
                }
                .suffix{
                    display: flex!important;
                    cursor: pointer;
                }
            }
            .modalBody{
                height: calc( 100% - 70px );
                form{
                    height: 100%;
                    .tab_content{
                        height: 100%;
                    }
                    .itemWrap{
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0px 24px;
                        height: calc( 100% - 86px );
                        max-height: 500px;
                        overflow-y: scroll;
                        margin-bottom: 20px;
                        justify-content: space-between;
                        -ms-overflow-style: none; /* IE and Edge */
                        scrollbar-width: none; /* Firefox */
                        &::-webkit-scrollbar {
                            display: none; /* Chrome, Safari, Opera*/
                        }
                        .bankItem{
                            flex: 0 30%;
                            height: auto;
                            margin-top: 20px;
                            button{
                                display: block;
                                width: 100%;
                                text-align: center;
                                background-color: transparent;
                                .bankImage{
                                    width: 60px;
                                    height: 60px;
                                    display: block;
                                    margin: 0px auto 10px;
                                    background-color: #eee;
                                }
                            }
                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3){
                                margin-top: 0px;
                            }
                        }
                        .speItem{
                            flex: 0 48%;
                            height: auto;
                            margin-top: 20px;
                            button{
                                display: block;
                                text-align: center;
                                background-color: #fff;
                                font-size: 14px;
                                width: 100%;
                                border: 1px solid $white-four;
                                border-radius: 10px;
                                padding: 10px 0px;
                                &:hover{
                                    border: 1px solid $gnbBg;
                                    background-color: $gnbBg;
                                    color: #fff;
                                }
                            }
                            &:nth-child(1),
                            &:nth-child(2){
                                margin-top: 0px;
                            }
                        }
                    }
                }
                .sub-title{
                    margin: 24px 0px 40px;
                    padding-left: 24px;
                    text-align: left;
                }
                .searchWrap{
                    display: block;
                    height: 100%;
                    .searchItem{
                        .searTab{
                            position: relative;
                            margin-left: 100px;
                            margin-right: 100px;
                            input[type="text"]{
                                width: 100%;
                                height: 42px;
                                font-size: 16px;
                                border-bottom: 2px solid #0682e2;
                                appearance: none;
                                -webkit-appearance: none;
                                border-radius: 0;
                            }
                            .btnSear{
                                position: absolute;
                                right: 0px;
                                top: 5px;
                                background-color: transparent;
                            }
                            .delSear{
                                position: absolute;
                                right: 40px;
                                top: 11px;
                                display: block;
                                width: 20px;
                                height: 20px;
                                background-color: transparent;
                            }
                        }
                    }
                    .resultWrap{
                        height: 432px;
                        margin: 0px 40px 30px;
                        overflow-y: scroll;
                        justify-content: space-between;
                        -ms-overflow-style: none; /* IE and Edge */
                        scrollbar-width: none; /* Firefox */
                        border-top: 2px solid $white-four;
                        &::-webkit-scrollbar {
                            display: none; /* Chrome, Safari, Opera*/
                        }
                        .resultItem{
                            border-bottom: 1px solid $white-four;
                            overflow: hidden;
                            position: relative;
                            cursor: pointer;
                            span{
                                font-size: 14px;
                                display: block;
                                height: 20px;
                                line-height: 20px;
                                float: left;
                                i{
                                    display: block;
                                    margin-top: 3px;
                                }
                            }
                            .resultSel{
                                position: absolute;
                                width: 48px;
                                height: 26px;
                                border: 1px solid $gnbBg;
                                color: $gnbBg;
                                font-size: 14px;
                                border-radius: 8px;
                                top: 13px;
                                right: 11px;
                                background-color: #fff;
                                cursor: pointer;
                                display: none;
                            }
                            &:hover{
                                background-color: #e1f0fc;
                                .resultSel{
                                    background-color: #e1f0fc;
                                }
                            }
                            &.active{
                                background-color: #e1f0fc;
                                .resultSel{
                                    background-color: #e1f0fc;
                                }
                            }
                        }
                    }
                }
                .lnb{
                    padding-top: 0px;
                    margin-bottom: 0px;
                    margin-top: 0px;
                }                
                &.autoH{
                    height: auto;
                    overflow-y: auto;
                }
            }
        }
    }
    &.personPop{
        .modalBody{
            padding: 0px 24px;
            margin-bottom: 20px;
            overflow-y: scroll;
            height: 480px;
            justify-content: space-between;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera*/
            }
            p{
                text-align: left;
                font-weight: bold;
                &.personTitle{
                    font-size: 24px;
                }
                &.personSubTtitle{
                    font-size: 22px;
                }
                &.miniTitle{
                    font-size: 18px;
                }
                &.context{
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }
        .wide{
            p{
                text-align: left;
                font-weight: bold;
                &.personTitle{
                    font-size: 20px;
                }
                &.personSubTtitle{
                    font-size: 18px;
                }
                &.miniTitle{
                    font-size: 16px;
                }
                &.context{
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }
    }
    &.proPop{
        .modalWrap{
            .modalBody{
                .lnb{
                    padding-left: 60px;
                }
                form{
                    .itemWrap{
                        overflow: hidden;
                        max-height: 580px;
                        padding:0px 80px;
                        display: block;
                        .speItem{
                            flex: none;
                            width: 48%;
                            display: block;
                            float: left;
                            &:nth-child(2n){
                                margin-left: 4%;
                            }
                        }
                    }
                }
            }
        }
    }
    &.gradePop{
        .modalWrap{
            width: 500px;
            .modalBody{
                padding: 30px 25px;
            }
        }

    }
    &.inquiryPop{
        .modalWrap{
            width: 500px;
            .modalBody{
                padding: 30px 25px;
                .infoLine{
                    padding: 0px;
                    border: none;
                    &.conOne{
                        .dropdown{
                            width: 100%;
                        }
                    }
                    &.conTwo{
                        .dropdown{
                            width: calc( 100% - 44px );
                        }
                    }
                    &::after{
                        content: "";
                        clear: both;
                    }
                    .dropdown{
                        display: inline-block;
                        border: 1px solid rgb(212,212,212);
                        border-radius: 10px;
                        .caption{
                            padding: 0px 26px;
                            &::after{
                                right: 26px;
                            }
                        }
                    }
                    .hypen{
                        display: inline-block;
                        width: 40px;
                        text-align: right;
                    }
                }
            }
        }

    }
    &.detailPricePop{
        z-index: 9999;
    }
    .modalBtn{
        text-align: center;
        a{
            margin: 20px 0px 20px 0px;
        }
    }
    &.login-pop{
        z-index: 99999;
        .modalWrap{
            width: rem(314);
            padding: rem(30);
        }
        p{

            margin-bottom: rem(40);
            font-size: rem(18);
            line-height: rem(28);
            color: $black-two;
            letter-spacing: -0.45px;

        }
        .btn{
            font-size: rem(16);
            width: rem(264);
            height: rem(48) !important;
            line-height: rem(48) !important;
            + .btn{
                margin-top: rem(12) !important;
            }
        }
    }
}



@media (max-width:1200px){
    
    .modal{
        .modalWrap{
            width: 70%;
            p{
                font-size: 14px;
            }
            .activePro{
                padding: 0px 24px;
                p{
                    font-size: 16px;
                }
            }
        }
        &.bankPop{
            .modalWrap{
                .modalBody{
                    form{
                        .itemWrap{
                            height: calc( 100% - 310px)!important;
                        }
                    }
                }
            }
        }
        &.subPop{
            .modalWrap{
                width: 100%;
                height: 100%;
                border-radius: 0px;
                position: fixed;
                //wide 팝업/ 회원가입-약관동의 -ys
                &.wide{
                    width: 100%;
                    .modalBody{
                        padding: rem(30) rem(24);
                        height: calc(100% - 70px);
                        overflow-y: scroll;
                        input{
                          appearance: auto;
                          vertical-align: -2px;
                        }
                        label{
                          font-size: rem(12);
                        }
                        &.autoH{
                            height: auto;
                            overflow-y: auto;
                        }
                    }
                }
                .modalBody{
                    .lnb{
                        padding-left: 24px;
                    }
                    form{
                        .itemWrap{
                            height: calc( 100% - 175px);
                            max-height: inherit;
                            margin-bottom: 20px;
                            padding:0px 24px;
                            .speItem{
                                margin-top: 12px;
                                button{
                                    font-size: 14px;
                                    padding: 10px 0px;
                                }
                            }
                        }
                    }
                    .searchWrap{
                        height: calc( 100% - 170px );
                        .searchItem{
                            border-bottom: 6px solid #f1f3f6;
                            margin-bottom: 20px;
                        }
                        .resultWrap{
                            border-top: none!important;
                            height: calc( 100% - 65px );
                            margin-bottom: 20px;
                            margin: 0px 24px 20px 24px;
                            .resultItem{
                                border: 1px solid #d4d4d4;
                                border-radius: 10px;
                                margin-bottom: 12px;
                                span{
                                    font-size: 16px;
                                    height: 24px;
                                    line-height: 24px;
                                    i{
                                        margin-top: 3px;
                                    }
                                }
                                .resultSel{
                                    font-size: 12px;
                                    display: block;
                                    top: 11px;
                                }
                                &:hover{
                                    background-color: #fff;
                                    border: 1px solid #0682e2;
                                    button{
                                        background-color: #0682e2!important;
                                        color: #fff;
                                    }
                                }
                                &.active{
                                    background-color: #fff;
                                    border: 1px solid #0682e2;
                                    button{
                                        background-color: #0682e2!important;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        .searchItem{
                            .searTab{
                                margin-left: 24px;
                                margin-right: 24px;
                                input[type="text"]{
                                    border-bottom: none;
                                    padding: 0px 20px;
                                    border-radius: 40px;
                                    border: 1px solid #ccc;
                                }
                                .btnSear{
                                    right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.personPop{
            .modalBody{
                height: calc( 100% - 92px);
                p{
                    &.personTitle{
                        font-size: 16px;
                    }
                    &.personSubTtitle{
                        font-size: 14px;
                    }
                    &.miniTitle{
                        font-size: 12px;
                    }
                    &.context{
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
            }
        }
        &.inquiryPop{
            .modalWrap{
                top: unset;
                bottom: 0px;
                left: 0px;
                transform: inherit;
                height: auto;
                .modalBody{
                    height: auto;
                    .infoLine{
                        border: 1px solid #dbdbdb;
                        padding: 12px 20px;
                        .dropdown{
                            display: none;
                        }
                        select {
                            display: inline-block;
                        }
                        &.conTwo{
                            select{
                                width: calc( 100% - 45px );
                            }
                        }
                        .hypen{
                            line-height: 26px;
                        }
                        &.moBorder{
                            border: none!important;
                            padding: 0px!important;
                            select{
                                padding: 0px 20px;
                                height: 50px;
                                border: 1px solid #ccc;
                                border-radius: 10px;
                                background-position: 95% center;
                            }
                        }
                    }
                }
            }
    
        }
        &.inquiryHead{
            .modalWrap{
                border-radius: 20px 20px 0px 0px;
                .modalHeader{
                    display: none;
                }
            }
        }
    }

}