.no-result{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(16);
  line-height: rem(28);
  color: $brownishGrey;
  .img-banner{
    width: rem(68);
    margin: auto;
    img{
      width: 100%;
    }
  }
}
@media (min-width:1200px) {
  .no-result{
    margin-top:rem(80);
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    margin-bottom: rem(20);
  }
}