.pagination{
  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      a{
        font-size: rem(18);
        line-height: rem(26);
        color: $black;
      }
      &.now-page{
       a{
        color:$flatBlue;
       }
      }
      &:nth-child(2){
        margin-left: rem(19);
      }
      &:nth-child(3){
        margin-right: rem(19);
      }
    }
  }
}