.right-bar{
  position: relative;
  &::after{
    content:'';
    width: rem(2);
    height: rem(20);
    background: $lightGray;
    position: absolute;
    top: 2px;
    right:-2px;
  }
}

.fc-blue{
  color:$blue;
}
.fc-red{
  color:$red;
}
.fw-bold{
  font-weight: $bold;
}

.block{
  display: block;
}