.question-form{
  position: relative;
  padding: 0 rem(24);
  input,textarea{
    width: 100%;
    font-size: rem(18);
    line-height: rem(25);
    letter-spacing: -0.45px;
    &::placeholder{
      font-size: 500;
    }
  }
  textarea{
    height: rem(350);
    border: 1px solid #ccc;
    padding: 40px;
  }
  .text-count{
    font-size: rem(16);
    line-height: rem(25);
    letter-spacing: -0.4px;
    color: $white-four;
    text-align: right;
    position: absolute;
    top: 292px;
    right: 64px;
    .count{
      color:$brownishGrey;
      padding-right: rem(3);
    }
  }
}



@media (max-width:1200px) {

  .question-form{
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    .text-count{
      position: inherit;
      top: inherit;
      right: inherit;
      margin: 30px 0px 40px;
    }
    textarea{
      padding: 0px;
      border: none;
    }
  }


}
