//예상견적 조회 price_inquiry01.html
.price-rank{
  .swiper-container{
    margin :0 24px;
  }
  .listOne{
    width: 240px!important;
  }
}
.ranking{
  text-align: center;
  &.swiper-slide{
    width: 40%;
    min-width: rem(150);
  }
  .rank{
    display: inline-block;
    background: $darkSkyBlue;
    color:$white;
    font-size: rem(16);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 48px;
    &.mySel{
      width: auto;
      border-radius: 25px;
      padding: 0px 10px;
    }
  }
  .recipt{
    margin-top: rem(20);
    padding: rem(26) rem(16) rem(57);
    border:1.5px solid #e1e1e1;
    border-bottom:none;
    border-radius: 10px 10px 0 0;
    background: url(../images/bg_receipt.png) no-repeat bottom;
    background-size: contain;

    &.active{
      border:2px solid $gnbBg;
      border-bottom:none;
      background: url(../images/bg_receipt_active.png) no-repeat bottom;
      background-size: contain;
    }
    .place{
      font-size: rem(28);
      font-weight: $medium-bold;
      span{
        display: block;
        font-size: rem(14);
      }
    }
    .dash-line{
      width: 180px;
      height: 2px;
      margin: rem(20) auto rem(30);
      background-image: linear-gradient(to right, $white-four 33%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 7px 1px;
      background-repeat: repeat-x;
    }
    .weight{
      display: inline-block;
      width: 72px;
      /* padding: 0.3125rem; */
      background: #fbfbfb;
      /* border: 1px solid #d4d4d4; */
      border-radius: 1.5625rem;
      font-size: 14px;
      height: 26px;
      line-height: 26px;
    }
    .price{
      margin-top: 14px;
      font-size: 26px;
      font-weight: 800;
      color: #ff3221;
      span{
        font-size: rem(16);
        font-weight: normal;
      }
    }
  }
}
.price-info{
  margin-top: rem(30);
  display: none;
  &.active{
    display: block;
  }
}
.price-total{
  padding: rem(20) rem(24);
  border-radius: rem(10);
  background: $flatBlue;
  color:$white;
  position: relative;
  .place{
    font-size: rem(18);
    span{
      font-size: rem(12);
    }
  }
  .price{
    font-size: rem(26);
    font-weight: $bold;
    .unit{
      font-size: rem(16);
      font-weight: normal;
    }
  }
  .info{
    border-top:1px solid $coolBlue;
    font-size: rem(12);
    font-weight: $light;
    margin-top: rem(24);
    padding-top: rem(12);
    img{
      vertical-align: -2px;
    }
    .time{
      color: $lightBlueGrey-2;
    }
    .mainItem{
      margin-top: rem(6);
      color: $veryLightBlue;
      span{
        font-weight: $normal;
      }
    }
  }
  .detailInfo{
    position: absolute;
    top: rem(20);
    right: rem(24);
    cursor: pointer;
    span{
      display: none;
      color:$perrywinkle;
    }
  }
}
.price-datail{
  padding:rem(24);
  border-radius: rem(10);
  border: 1px solid $white-four;
  border-top: 1px dashed $white-four;
  li{
    margin-top: rem(16);
    overflow: hidden;
    &:first-child{
      margin-top: 0;
      .price{
        color: $gnbBg;
      }
    }
    .item{
      float: left;
      color: $brownishGrey;
    }
    .price{
      float: right;
      font-weight: $bold;
      span{
        font-weight: normal;
      }
    }
  }
}
.material-info{
  border-top: 6px solid $paleGrey-two;
  margin-top: rem(40);
  padding-top: rem(20);
  padding-left: rem(24);
  padding-right: rem(24);
}
.stick-bg{
  height: rem(36);
  background: $white-ten;
  border-radius: rem(20);
  overflow: hidden;
  .stick{
    height: 100%;
    line-height: rem(36);
    padding: 0 rem(10);
    text-align: right;
    color:$white;
    font-size: rem(18);
    font-weight: $medium-bold;
    background: linear-gradient(to right, $auqaBlue, $blueWithAHintOfPurple);
    span{
      font-size: rem(12);
      font-weight: $normal;
    }
  }
}

.price-range{
  margin-top: rem(14);
  font-weight: rem(14);
  font-weight: $bold;
  .low-price{
    display: inline-block;
  }
  .high-price{
    float: right;
  }
  span{
    font-size: rem(10);
    font-weight: $normal;
  }
}
.price-box{
  padding: 0px 24px;
}
.aver-price{
  border-top: 6px solid $paleGrey-two;
  margin-top: rem(40);
  padding-top: rem(20);
}
.aver-box{
  display: flex;
  padding: rem(30) 0;
  margin: auto rem(24);
  border-radius: rem(10);
  border:1px solid $white-four;
  text-align: center;
  > div{
    width: 50%;
  }  
  .day-aver{    
    position: relative;
    &::after{
      content:'';
      width: 1px;
      height: rem(30);
      background: $white-four;
      position: absolute;
      top: 30%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  .mount{
    font-size: rem(32);
    span{
      font-size: rem(16);
    }
  }
  .tit{
    font-size: rem(12);
  }
  .day{
    font-size: rem(12);
    color: $brownishGrey;
  }
}


@media (max-width: 1200px){
  .ranking{
    &.swiper-slide{
      width: 144px!important;
      min-width: 144px!important;
    }
    .rank{
      font-size: 12px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      &.mySel{
        height: 32px;
        line-height: 32px;
        font-size: 12px;
      }
    }
    .recipt{
      padding: 1.5rem 0;
      .place{
        font-size: 18px;
      }
      .dash-line{
        margin: 20px auto;
        width: 116px;
      }
      .weight{
        border: solid 1px #e3e8ec;
      }
      .price{
        font-size: 18px;
      }
    }
  }
  .price-rank{
    .listOne{
      width: 144px!important;
    }
  }
}



@media (min-width:1200px) {
  .price-rank{
    padding:0 rem(77);
  }
  .price-box{
    display:flex;
    .price-total{
      width: 40%;
      .info{
        border-top:none;
        margin-top: rem(16);
        padding-top: 0;
      }
      .detailInfo{
        top:auto;
        bottom: rem(20);
        span{
          display: block;
        }
        img{
          display: none;
        }
      }
    }
    .price-datail{
      width: 60%;
      border-left: 1px dashed $white-four;
      border-top: 1px solid $white-four;
    }
  }
  .price-box{
    padding: 0px 0px;
  }
  .material-info{
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .aver-box{
    margin: auto;
  }
  .aver-price{
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
}