.reservation{
  position: relative;
  margin: 0px 200px 80px;
  &:after{
    content: '';
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background-image: url(../images/bar.png);
    width: 100%;
    height: rem(2);
    z-index: 0;
  }
  ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    li{
      position: relative;
      z-index: 10;
      text-align: center;
      font-size: rem(12);
      background-color: $white;
      color: $brownishGrey;
      &.current{
        color: #7d3cde;
      }
      i{
        margin-bottom: 7px;
      }
      div{
        font-size: 20px;
      }
    }
  }
}

.re-state{
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 60px!important;
  padding: rem(24);
  display: flex;
  align-items: center;
  padding: 30px 60px;
  .prefix{
    flex: 1 1 auto;
    font-size: 22px!important;
    span{
      display: inline-block;
      padding-left:rem(8);
      font-weight: $bold;
      font-size: 23px;
    }
  }
}

@media (max-width:1200px){ 
  .reservation{
    margin-bottom: 28px;
    margin-left: 24px;
    margin-right: 24px;
    &:after{
      top: 18%;
    }
    ul{
      li{
        div{
          font-size: 12px;
        }
      }
    }
  }


  .re-state{
    margin-left: 24px;
    margin-right: 24px;
    padding: 24px 24px;
    margin-bottom: 19px!important;
    .prefix{
      font-size: 14px!important;
      span{
        font-size: 16px!important;
      }
    }
  }
  .tag{
    font-size: 14px!important;
    padding: 6px 16px;
  }
  
}

