.reserveWrap{
    .reserveMent{
        padding: 40px 0px;
        text-align: center;
        .reserveTitle{
            font-weight: bold;
            font-size: 30px;
        }
        .reserveTitleSub{
            font-size: 20px;
            margin-top: 24px;
            margin-bottom: 17px;
        }
        .reserveTitleMin{
            font-size: 16px;
        }
    }
}


@media (max-width:1200px) {
    .reserveWrap{
        .reserveMent{
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            padding: 0 rem(35);
            .reserveTitle{
                font-size: 24px;
            }
            .reserveTitleSub{
                font-size: 16px;
            }
            .reserveTitleMin{
                font-size: 12px;
            }
        }
        .btn-fixed{
            box-shadow: none!important;
        }
    }
}