.root{
    width: 100%;
    margin: 30px 0px;
    overflow: hidden;
    ul{
        li{
            float: left;
            line-height: 24px;
            height: 24px;
            &.arrow{
                margin: 0px 12px;
                i{
                    display: block;
                    margin-top: 4px;
                }
            }
            a{
                display: block;
                height: 24px;
                font-size: 16px;
                color: #6e6e6e;
                i{
                    display: block;
                }
            }
        }
    }
}


@media (max-width:1200px){
    .root{
        display: none;
    }
}