.search-word-list{
  ul{
    li{
      font-size: rem(20);
      line-height: rem(25);
      letter-spacing: -0.35px;
      padding: rem(23) 10px;
      border-bottom: rem(1) solid $table-border;
      @include flex-prefix-suffix;
      &:first-child{
        border-top: 1px solid #6e6e6e;
      }
    }
  }
}
.none-pad{
  .search-word-list{
    ul{
      padding: 0 rem(24);
    }
  }
}



@media (max-width:1200px) {
  .search-word-list{
    padding: 0px 24px;
    ul{
        li{
          padding-left: 0px;
          padding-right: 0px;
          padding: rem(14) 0px;
          font-size: 14px;
        }
      }
    }
  
}