.search-title{
  @include flex-prefix-suffix;
  margin-top: rem(24);
  margin-bottom: rem(30);
  .prefix{
    font-size: rem(20);
    line-height: rem(22);
    letter-spacing: -0.4px;
  }
  .suffix{
    a{
      font-size: rem(16);
      line-height: rem(22);
      color: $greyish;
      letter-spacing: -0.3px;
    }
  }
}
.section{
  &.none-pad{
    .search-title{
      padding: 0 rem(24);
    }
  }
}

@media (max-width:1200px) {
  .search-title{
    padding: 0px 24px;
    .prefix{
      font-size: 16px;
    }
    .suffix{
      a{
        font-size: 14px;
      }
    }
  }
}
