



.search-header{
  width: 100%;
  height: 56px;
  max-width: 720px;
  margin: 30px auto 100px;
  .prefix{
    display: inline-block;
    width: 180px!important;
    float: left;
    .dropdown{
      border-bottom: 2px solid #c2c2c2;
      .list{
        top: 70px;
      }

    }
    select{
      display: none;
    }
  }
  .suffix{
    display: inline-block;
    width: 496px!important;
    margin-left: 40px;
    float: left;
    position: relative;
    input{
      border-bottom: 2px solid #0682e2;
      line-height: 72px;
      height: 72px;
      width: 100%;
      font-size: 24px;
      &.under-border-type{
        border-bottom: 2px solid #ccc!important;
        padding-bottom: 0px!important;
      }
    }
    a{
      position: absolute;
      right: 0px;
      top: 11px;
    }
  }
  .dropdown{
    height: 72px;
    .caption{
      line-height: 72px;
      font-size: 24px;
    }
  }
}



@media (max-width:1200px) {
  .search-header{
    width: 100%;
    padding: 20px;
    height: 88px;
    margin: 0px auto;
    border-bottom: 6px solid rgb(241,244,246);
    .prefix{
      width: 35%!important;
      height: 42px;
      line-height: 42px;
      border: 1px solid rgba(85,87,66,0.2);
      border-radius: 42px;
      .dropdown{
        display: none;
      }
      select{
        display: block;
        background: url('../images/selDown.svg') no-repeat;
        background-position: 80% center;
        background-size: 14px;
        width: 100%;
        height: 42px;
        line-height: 42px;
        cursor: pointer;
        padding: 0px 20px;
      }
    }
    .suffix{
      width: 60%!important;
      margin-left: 5%;
      input{
        line-height: 42px;
        height: 42px;
        border: none;
        border: 1px solid rgba(85,87,66,0.2);
        border-radius: 42px;
        padding: 0px 20px;
        font-size: 16px;
      }
      a{
        right: 20px;
        top: 4px;
      }
    }
    &.service{
      height: auto!important;
      border: none!important;
      padding: 0px!important;
      .prefix{
        width: calc( 100% - 50px )!important;
        float: none;
        margin: 20px 25px;
        height: auto;
        display: block;
        border: 1px solid #ccc;
        select{
          background-position: 95% center!important;
          border-radius: 40px;
        }
      }
      .suffix{
        width: 100%!important;
        float: none;
        display: block;
        margin-left: 0px!important;
        border-top: 6px solid #f1f3f6;
        input{
          border: none;
          border-radius: 0px;
          margin-top: 20px;
          border-bottom: 2px solid #ccc;
          border-radius: 0px;
          margin: 24px;
          margin-bottom: 0px;
          width: calc( 100% - 48px );
          padding: 0px;
        }
      }
    }
  }
}