.table{
  width: 100%;
  tr{
    th{
      background-color: $table-th-bg;
      font-weight: $medium-bold;
      font-size: rem(13);
      line-height: rem(41);
      text-align: center;
      letter-spacing: -0.33pt;
    }
    td{
      font-size: rem(12);
      text-align: center;
      line-height: rem(41);
      border-bottom:rem(1) solid  $table-border;
    }
  }
  &.col-type{
    th,td{
      display: inline-block;
      margin-right: 2px;
      padding: 0 rem(10);
      &:last-child{
        margin-right: 0;
      }
    }
  }
}