.tag{
  display: inline-block;
  padding: 10px 25px;
  font-size: 19px;
  border-radius: rem(16);
  &.light-blue-gray-type{
    background-color: $lightBlueGrey;
  }
  &.light-ishblue-type{
    border: rem(1) solid $lightishBlue;
    color: $lightishBlue;
  }
}