.title{
  font-size: rem(48);
  font-weight: $bold;
  letter-spacing: -0.4pt;
  &.center{
    text-align: center;
  }
}

.sub-title-wrap{
  margin-top: rem(23);
  margin-bottom: rem(20);
  overflow: hidden;
  .sub-title{
    font-weight: $medium-bold;
    color:$black-two;
    letter-spacing: -0.4pt;
    float: left;
  }
  a{
    float: right;
    color:$brownishGrey;
    margin-right: 24px;
  }
}

.sub-title{
  font-size: 20px;
  font-weight: 500;
}

@media (min-width:1200px) {
  .sub-title-wrap{
    &.border{
      margin-top: rem(90);
      margin-bottom: rem(60);
      padding-bottom: rem(24);
      border-bottom:1px solid $brownishGrey;      
    }
    .sub-title{
      font-size: rem(26);
    }
    a{
      margin-top: rem(10);
      &.more{
        font-size: 20px;
      }
    }    
  }
}

@media (max-width:1200px){
  .sub-title{
    padding: 0px 24px;
    font-size: 18px;
  }
  .sub-ment{
    font-size: 14px;
  }
}