//font-weight
$thin: 100;
$light: 300;
$normal: 400;
$medium-bold:500;
$semi-bold: 700;
$bold: 800;


//color
$white:#ffffff;
$white-three:#dbdbdb;
$white-four:#d4d4d4;
$white-five:#fbfbfb;
$white-six:#f1f1f1;
$white-seven:#f2f2f2;
$white-eight:#f9f9f9;
$white-nine:#f8f8f8;
$white-ten:#f6f6f6;

$black:#000000;
$black-two:#141414;
$red:#ff3221;
$orangeRed: #ff3221;
$pinkishgray:#ebebeb;
$pinkishgray-two:#bcbcbc;
$disable:#dadada;
$blue:#0482e2;
$flatBlue:#3859ae;
$sky:#d5e5f5;
$primary:$blue;
$brownishGrey:#6e6e6e;
$paleGrey:#f1f4f6;
$paleGrey-two:#f1f3f6;
$paleGrey-three:#f5f8fb;
$greyish:#afafaf;
$pinkishGrey:#cccccc;
$purple:#7d3cde;
$lightishBlue:#3962fc;
$lightishBlue-2: #5478ff;
$azul: #3055e9;
$gnbBg: #0682e2;
$lightGray: #c2c2c2;
$lightBlueGrey:#d5e5f5;
$cornflowerBlue:#4079d4;
$paleLilac: #d9d3ff;
$lightSage: #baf1c3;
$lightPeach: #fed8c7;
$babyBlue: #b2dbff;
$tealish: #2ec5d5;
$blueGreen: #179aa8;
$paleGrey-4: #eef0f5;
$darkSkyBlue : #459cdf;
$perrywinkle: #9eb3e8;
$lightBlueGrey-2: #b1c0e6;
$veryLightBlue: #e4ebff;
$coolBlue:#5873b8;
$auqaBlue : #06cbe2;
$blueWithAHintOfPurple: #4738ad;

//background
$table-th-bg:$paleGrey;
$search-input-bg:#fafafa;

//border
$table-border:#ededed;
$lnb-border:$paleGrey-two;
$btn-border:#707070;


$breakpoint-mobile: 400px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1220px;
$mobile-header-border:#e6e6e6;
