@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
   src:url(../../src/assets/fonts/NotoSansKR-Thin.woff2) format('woff2'), /* IE Edge, WOFF2 지원 브라우저 */
    url(../../src/assets/fonts/NotoSansKR-Thin.woff) format('woff'), /* IE 9+, 모던 브라우저 */
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');  
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src:url(../../src/assets/fonts/NotoSansKR-Light.woff2) format("woff2"),
    url(../../src/assets/fonts/NotoSansKR-Light.woff2) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');  
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url(../../src/assets/fonts/NotoSansKR-Regular.woff2) format("woff2"),
    url(../../src/assets/fonts/NotoSansKR-Regular.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url(../../src/assets/fonts/NotoSansKR-Medium.woff2) format("woff2"),
    url(../../src/assets/fonts/NotoSansKR-Medium.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url(../../src/assets/fonts/NotoSansKR-Bold.woff2) format("woff2"),
    url(../assets/fonts/NotoSansKR-Bold.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
  }



* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR';
}

a{
    text-decoration: none;
    color: #000;
}

ol,ul,li{
    list-style: none;
}


html,body{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}


body{
    min-height: 100vh;
    background-color: #f9f9f9;
}

body.logBody{
    height: 100vh;
    padding: 0px!important;
}

body.modalOpen{
    width: 100%;
    overflow: hidden;
}
input,select,button,label{
    cursor: pointer;
    border: none;
    outline: none;
}

input,select{
    border: 1px solid #000;
}


option[value="default"][disabled] {
    display: none;
}

input[type="text"],
input[type="password"]{
    height: 32px;
}


input[type="text"].input100,
input[type="passoword"].input100{
    width: 100px;
    min-width: 100px;
    text-align: center;
    float: left;
}


input[type="text"].input130,
input[type="passoword"].input130{
    width: 130px;
    min-width: 130px;
    padding-right: 28px;
}


input[type="text"].input140,
input[type="passoword"].input140{
    width: 138.5px;
    text-align: center;
    min-width: 138.5px;
}

input[type="text"].input160,
input[type="passoword"].input160{
    width: 160px;
    min-width: 160px;
}

input[type="text"].input180,
input[type="passoword"].input180{
    width: 180px;
    min-width: 180px;
}

input[type="text"].input200,
input[type="passoword"].input200{
    width: 193px;
    min-width: 193px;
    text-align: center;
    float: left;
}

.inputBtn{
    width: calc( 50% - 164px );
    padding: 0px 20px;
    float: left;
    max-width: 374px;
}


.inputFull{
    width: calc( 100% - 44px );
    padding: 0px 20px;
}

.inputHalf{
    width: calc( 50% - 40px );
    padding: 0px 20px;
}

input[type="text"].inputShort{
    width: calc( 23% - 40px );
    padding: 0px 20px;
    min-width: 158px;
    text-align: center;
}

.inputShort:nth-child(2){
    margin-left: 2%;
}


textarea#noticeText,
textarea#qnaAnswer{
    width: calc( 100% - 42px );
    padding: 20px 20px;
    height: 200px;
    cursor: pointer;
}




span.floatLeft{
    float: left;
}

span.waitingQna{
    color: #4079d4;
}



span.finishQna{
    color: #000;
}




a.fileDownload{
    color: #000;
}



button.tableButton{
    width: 114px;
    height: 34px;
    float: left;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #3859ad;
    color: #fff;
}

.excelDown a{
    width: 114px;
    height: 34px;
    border-radius: 5px;
    background-color: #2b2e33;
    color: #fff;
    text-align: center;
    float: right;
    line-height: 34px;
    margin-bottom: 20px;
}



.mt10{
    margin-top: 10px!important;
}

.ml0{
    margin-left: 0px!important;
}


.ml10{
    margin-left: 10px!important;
}

.mr10{
    margin-right: 10px!important;
}

.ohWrap{
    overflow: hidden;
}




/************ 관리자 로그인 부분 시작 ************/

.logBox{
    width: 100%;
    display: flex;
    min-height: 100%;
    align-items: center;
    position: relative;
}

.logBox .log-wrap{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.logBox .log-wrap .log-title{
    margin-bottom: 11px;
    display: inline-block;
}

.logBox .log-wrap .log-title h1{
    background-image: url('../images/pc_color_logo.svg');
    background-size: 180px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 180px;
    height: 46px;
}

.logBox .log-wrap .login-box {
    background-color: #2b2e33;
    padding: 20px;
    border-radius: 15px;
}

.logBox .log-wrap .log-info{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: bold;
}

.logBox .log-wrap .login-box table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 16px;
}

.logBox .log-wrap .login-box table tr td{
    /* border: 1px solid #e1e1e1; */
}


.logBox .log-wrap .login-box table tr td:nth-child(1){
    width: 100px;
    height: 60px;
    font-weight: bold;
    /* background-color: #c9c9c9; */
    color: #fff;
}

.logBox .log-wrap .login-box table tr td input{
    width: 210px;
    padding: 0px 20px;
    height: 35px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.logBox .log-wrap .login-box button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    color: #fff;
    cursor: pointer;
    background-color: #858585;
}

.logBox .log-wrap .login-box button:hover{
    background-color: #0665ae;
}


.logBox .log-wrap .login-box .log-input.passWrap{
    position: relative;
}

.logBox .log-wrap .login-box .log-input.passWrap input[type="checkbox"]{
    display: none;;
}

.logBox .log-wrap .login-box .log-input.passWrap label{
    position: absolute;
    top: 0px;
    right: 10px;
}

.logBox .log-wrap .login-box .log-input input + label{
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/passNo.svg') no-repeat center; 
} 

.logBox .log-wrap .login-box .log-input input:checked + label{
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/passYes.svg') no-repeat center; 
}


/************ 관리자 로그인 부분 끝 ************/





/************ 관리자페이지 세부 부분 시작 ************/

div.contWrap{
    width: 100%;
    min-width: 1400px;
    overflow: hidden;
}




/************ 관리자페이지 헤더 부분 시작 ************/


div.contWrap .header{
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: fixed;
    background-color: #fff;
}

div.contWrap .header .headLogo{
    float: left;
    width: 220px;
    height: 48px;
    text-align: center;
    font-size: 0px;
    font-weight: bold;
    line-height: 60px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    background: url('../images/pc_color_logo.svg') no-repeat;
    font-weight: bold;
    background-position: center;
    background-size: 165px;
    position: relative;
}

div.contWrap .header .headLogo img{
    width: 180px;
}

div.contWrap .header  .headGnb{
    width: 1180px;
    overflow: hidden;
}
div.contWrap .header .headLogo.admin{
  background: url('../images/pc_color_logo_admin.svg') no-repeat;
}
div.contWrap .header .headLogo.transit{
  background: url('../images/pc_color_logo_transit.svg') no-repeat;
}
div.contWrap .header .headLogo.domain{
  background: url('../images/pc_color_logo_domain.svg') no-repeat;
}
div.userName a{
    background: url('../images/people.svg') no-repeat;
    background-position: left center;
    padding-left: 30px;
    color: #fff;
}

div.userMenu{
    overflow: hidden;
    display: inline-block;
    float: left;
    height: 80px;
}


div.userMenu li{
    float: left;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
}

div.userMenu li:hover a,
div.userMenu li.active a{
    height: 80px;
    width: auto;
    display: inline-block;
    color: #fff;
    background-color: #767676;
}


div.userMenu li a{
    display: block;
    padding: 0px 40px;
    color: #fff;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}


div.mainMenu{
    float: right;
    overflow: hidden;
}

div.mainMenu ul li{
    float: left;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    margin: 20px 0px 20px 20px;
}

div.mainMenu ul li a{
    color: #000;
}


div.mainMenu ul li:last-child{
    position:relative;
    padding-left: 20px;
}

div.mainMenu ul li:last-child::before{
    content: "";
    width: 1px;
    height: 15px;
    background-color: #000;
    position: absolute;
    left: 0px;
    top: 12.5px;
}


/************ 관리자페이지 헤더 부분 끝 ************/






/************ 관리자페이지 2depth 부분 시작 ************/

div.content .left{
    width: 240px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    position: fixed;
    height: calc( 100% - 80px );
    background-color: #fff;
    top: 80px;
}

div.content .left .depthTitle{
    background-color: #182953;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

div.content .left .depthMenu li{
    background-color: #fff;
    cursor: pointer;
}

div.content .left .depthMenu li.active,
div.content .left .depthMenu li:hover{
    background-color: #3859ad;
}


div.content .left .depthMenu li.active a,
div.content .left .depthMenu li:hover a{
    color: #fff;
}

div.content .left .depthMenu li a{
    font-size: 16px;
    font-weight: normal;
    color: #000;
    display: block;
    padding: 15px 0px 15px 20px;
}


/************ 관리자페이지 2depth 부분 끝 ************/









/************ 관리자페이지 리스트 테이블 부분 시작 ************/

div.content .right{
    float: left;
    width: 1160px;
    margin-left: 300px;
    margin-top: 120px;
}

div.content .right .rightWrap{
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
    padding: 40px 40px;
    margin-bottom: 80px;
    border-radius: 20px;
}

div.content.noLeft .right{
    float: inherit;
    margin: 0 auto;
    margin-top: 40px;
}

div.content.noLeft .right table#listTable{
    margin-top: 0px;
}


/************ 관리자페이지 리스트 테이블 부분 타이틀 에셋 시작 ************/



div.content .right .pageTitle {
    border-bottom: 6px solid #989898;
    height: 60px;
    padding: 10px 0px 0px 0px;
    line-height: 60px;
    margin-bottom: 40px;
}

div.content .right .pageTitle h1{
    font-size: 25px;
}

div.content .right p.subTitle{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
    color: #000;
}

div.content .right p.subTitle2{
    margin-top: 40px;
}


/************ 관리자페이지 리스트 테이블 부분 타이틀 에셋 끝 ************/





/************ 관리자페이지 리스트 테이블 부분 상단 검색 테이블 시작 ************/

div.content .right table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 15px;
}


div.content .right table.listCursor tr,
div.content .right table.corTable tr{
    cursor: pointer;
}


div.content .right table tr th{
    background-color: #182953;
    color: #fff;
}


div.content .right table tr td{
    padding: 10px 0px;
    border: 1px solid #989898;
    margin-top: 40px;
}


div.content .right table tr td.searchBtn{
    height: 50px;
    padding: 0px;
}

div.content .right table.searchTable tr td:nth-child(1),
div.content .right table.detail tr td:nth-child(1){
    background-color: #182953;
}


div.content .right table tr td:nth-child(1){
    text-align: center;
    color: #fff;
}


div.content .right table.corTable tr td:nth-child(1){
    color: #000;
}

div.content .right table tr td:nth-child(2) {
    padding: 10px 40px;
}

div.content .right table tr td:nth-child(2) span.hypen{
    line-height: 33px; 
    margin: 0px 20px;
}

div.content .right table tr td:nth-child(2) .dateInput{
    text-align: center;
}

div.content .right table tr td span.dateSapn{
    position: relative;
    display: block;
}

div.content .right table tr td select{
    width: 140px;
    padding-left: 5px; 
    height: 33px;
    display: block;
    float: left;
    margin-right: 20px;
}

div.content .right table tr td input[type="text"].textInput{
    width: calc( 100% - 240px );
    text-align: left;
    padding-left: 20px;
}


div.content .right table tr td button.goSearch{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #3859ad;
    color: #fff;
}


button:hover{
    background-color: #3859ad;
}

/************ 관리자페이지 리스트 테이블 부분 상단 검색 테이블 시작 ************/








/************ 관리자페이지 리스트 테이블 회원리스트  시작 ************/


div.content .right table#listTable {
    font-size: 14px;
    background-color: #fff;
    margin-top: 40px;
}

div.content .right table#listTable tr th,
div.content .right table#listTable tr td{
    text-align: center;
    border: 1px solid #989898;
    padding: 10px 0px;
}

div.content .right table#listTable tr td.longTitle{
    text-align: left;
    padding: 0px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.content .right table.detail tr td:nth-child(1){
    text-align: left;
    padding-left: 10px;
}

div.content .right table#listTable tr td span.noticeSel{
    color: #b30c2f;
}


/************ 관리자페이지 리스트 테이블 회원리스트  시작 ************/







/************ 관리자페이지 리스트 테이블 정보 수정 시작 ************/

div.content .right table tr td .labelChk{
    display: block;
    margin-top: 5px;
    overflow: hidden;
}

div.content .right table tr td .labelChk input,
div.content .right table tr td .labelChk span{
    float: left;
}

div.content .right table tr td .labelChk input[type="checkbox"]{
    margin: 4px 5px 0px 0px;
}



/************담장자 연락처 인증 시작 ************/

div.content .right table tr td .certyPass{
    display: block;
    overflow: hidden;
}


div.content .right table tr td .certyMent{
    font-size: 13px;
    color: red;
    margin-top: 5px;
    display: block;
}

div.content .right table tr td .certyPass input{
    float: left;
}


div.content .right table tr td .reChk{
    display: none;
}

div.content .right table tr td .reChk.on{
    display: block;
}


/************담장자 연락처 인증 끝 ************/





/************ 관리자페이지 리스트 테이블 정보 수정 끝 ************/







/************ 관리자페이지 리스트 테이블 부분 끝 ************/






















/*********** 하단 버튼 시작 *************/


.btnWrap{
    margin-top: 40px;
    text-align: center;
}

.btnWrap .btnSpan{
    display: inline-block;
    overflow: hidden;
}

.btnWrap button{
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    display: inline-block;
    float: left;
    border: none;
    border-radius: 5px;
    background-color: #adadad;
    color: #fff;
}

.btnWrap button.mody{
    margin-left: 20px;
    background-color: #3859ad;
    color: #fff;
    border-radius: 5px;
}





/*********** 하단 버튼 끝 *************/




/* 출하 관리 리스트 상세넘어가기 버튼 */

table.corTable a{
    width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background-color: #adadad;
    color: #fff;
    margin: 0 auto;
}






/* 출하 관리 상세페이지 출하 상태 시작 */



span.curStatus{
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background-color: #adadad;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 3px 20px;
}

span.curStatus.reserved{
    background-color: #0665ae;
}


span.curStatus.canceled{
    background-color: #b30c2f;
}



/* 출하 관리 상세페이지 출하 상태 끝 */












/************ 리스트테이블 페이징 시작 ************/

.paging{
	width: 100%;
	text-align: center;
	margin-top: 60px;
    margin: 40px 0px 0px;
    position: relative;
}

.paging button{
    position: absolute;
    border: none;
    background-color: #3859ad;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 15px;
    top: -5.5px;
    left: 0px;
}


.paging button.btnFirst{
    left: 0px;
}

.paging button.btnSecond{
    right: 0px;
    left: inherit;
}

.paging a{
    font-size: 14px;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
	cursor: pointer;
	background-color: transparent;
	color: #656565;
	font-weight: bold;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.paging a img{
	display: block;
}

.paging a.active,.paging a:hover{
	background-color: #3859ad;
	color: #fff;
}

.paging .first{
	background-image: url('../images/first-g.png');
	background-repeat: no-repeat;
}

.paging .first:hover{
	background-image: url('../images/first.png');
	background-repeat: no-repeat;
}

.paging .prev{
	background-image: url('../images/prev-g.png');
	background-repeat: no-repeat;
}

.paging .prev:hover{
	background-image: url('../images/prev.png');
	background-repeat: no-repeat;
}

.paging .next{
	background-image: url('../images/next-g.png');
	background-repeat: no-repeat;
}

.paging .next:hover{
	background-image: url('../images/next.png');
	background-repeat: no-repeat;
}


.paging .last{
	background-image: url('../images/last-g.png');
	background-repeat: no-repeat;
}

.paging .last:hover{
	background-image: url('../images/last.png');
	background-repeat: no-repeat;
}



/************ 리스트테이블 페이징 끝 ************/







/************ 모달 시작 ************/

/************ 모달 끝 ************/ 




/********** 파일업로드 **********/



.file-input {
    display: inline-block;
    text-align: left;
    width: 100%;
    position: relative;
    border-radius: 3px;
    margin-top: 0px;
    cursor: pointer;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: #3859ad;
  padding: 0px 10px;
  border-radius: 2px;
    color: #fff;
  margin-right: 8px;
    line-height: 34px;
    height: 34px;
    font-size: 14px;
}


.file-input > .label {
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}

.file-input.-chosen > .label {
  opacity: 1;
}


.modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba( 0,0,0,0.3 );
    display: none;
}

.modal input{
    border: none;
}

.modal button:hover{
    background-color: transparent;
}

.modal.visible{
    display: block;
}

.modal .modalWrap{
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    padding: 0 1.25rem;
    height: 4.375rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
  }
  
  .mobile-header .prefix, .mobile-header .center, .mobile-header .suffix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  

  
  .mobile-header .center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .mobile-header .suffix {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .mobile-header .prefix, .mobile-header .suffix {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 27.5%;
            flex: 1 1 27.5%;
  }
  
  .mobile-header .prefix .menuBtn, .mobile-header .suffix .menuBtn {
    z-index: 9000;
    position: absolute;
  }
  
  .mobile-header .center {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 55%;
            flex: 1 1 55%;
  }
  .ico-close {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/ico_close.svg);
    width: 18px;
    height: 18px;
}

    .icon-search {
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../images/ico_search.svg);
        width: 2rem;
        height: 2rem;
    }

  
  .mobile-header h1 {
    font-size: 1.125rem;
    letter-spacing: -1.2px;
  }

.lnb{
    border-bottom: 0.0625rem solid #f1f3f6;
}
  
.lnb ul li a {
    color: #afafaf;
    font-size: 1rem;
    line-height: 2.5625rem;
}
    .modal.subPop {
        z-index: 9998;
    }
    
.lnb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 61.875rem;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  
  .lnb ul li {
    margin-right: 30px;
  }
  
  .lnb ul li:last-child {
    margin-right: 0;
  }
  
.modal .modalWrap .activePro {
    overflow: hidden;
    padding: 0px 80px;
    margin-top: 30px;
  }
  
  .modal .modalWrap .activePro p {
    text-align: left;
    float: left;
  }
  
  .modal .modalWrap .activePro button {
    float: right;
    font-size: 16px;
    color: #0482e2;
    background-color: transparent;
  }
  


  .lnb ul li a {
    font-size: 24px;
    font-weight: bold;
  }
  
  .lnb ul li.active {
    position: relative;
  }
  
  .lnb ul li.active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 0.25rem;
    background-color: #000000;
  }
  
  .lnb ul li.active:after {
    bottom: -8px;
}
  .lnb ul li.active a {
    color: #000000;
  }

.modal.proPop .modalWrap .modalBody .lnb {
    padding-left: 60px;
  }
  .modal.subPop .modalWrap {
    padding-top: 0px;
    width: 600px;
  }
  
  .modal.subPop .modalWrap.wide {
    width: 50rem;
  }
  
  .modal.subPop .modalWrap.wide .modalBody {
    padding: 1.875rem 1.5rem;
    height: 30rem;
    overflow-y: scroll;
  }
  
  .modal.subPop .modalWrap.wide .modalBody input {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
    vertical-align: -2px;
  }
  
  .modal.subPop .modalWrap.wide .modalBody label {
    font-size: 0.75rem;
  }
  
  .modal.subPop .modalWrap .mobile-header {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: inherit;
    border-radius: 20px 20px 0px 0px;
  }
  
  .modal.subPop .modalWrap .mobile-header .prefix {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .modal.subPop .modalWrap .mobile-header .center {
    margin-bottom: 0px;
  }
  
  .modal.subPop .modalWrap .mobile-header .center h1 {
    font-size: 1.125rem;
  }
  
  .modal.subPop .modalWrap .mobile-header .suffix {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    cursor: pointer;
  }
  
  .modal.subPop .modalWrap .modalBody {
    height: calc( 100% - 70px);
  }
  
  .modal.subPop .modalWrap .modalBody form {
    height: 100%;
  }
  
  .modal.subPop .modalWrap .modalBody form .tab_content {
    height: 100%;
  }
  
  .modal.subPop .modalWrap .modalBody form .itemWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px 80px;
    height: calc( 100% - 86px);
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 19px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 20px;
  }





  .modal.subPop .modalWrap .modalBody form .itemWrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }
  
  .modal.subPop .modalWrap .modalBody form .itemWrap .bankItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 30%;
            flex: 0 30%;
    height: auto;
    margin-top: 20px;
  }
  
  .modal.subPop .modalWrap .modalBody form .itemWrap .bankItem button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: transparent;
  }
  
  
  .modal.subPop .modalWrap .modalBody form .itemWrap .bankItem button .bankImage {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0px auto 10px;
    background-color: #eee;
  }
  
  .modal.subPop .modalWrap .modalBody form .itemWrap .bankItem:nth-child(1), 
  .modal.subPop .modalWrap .modalBody form .itemWrap .bankItem:nth-child(2), 
  .modal.subPop .modalWrap .modalBody form .itemWrap .bankItem:nth-child(3) {
    margin-top: 0px;
  }
  
  .modal.subPop .modalWrap .modalBody form .itemWrap .speItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 48%;
            flex: 0 48%;
    height: auto;
    margin-top: 20px;
  }
  
  .modal.subPop .modalWrap .modalBody form .itemWrap .speItem button {
    display: block;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 10px 0px;
  }
  
  .modal.subPop .modalWrap .modalBody form .itemWrap .speItem button:hover {
    border: 1px solid #0682e2;
    background-color: #0682e2;
    color: #fff;
  }
  
  .modal.subPop .modalWrap .modalBody form .itemWrap .speItem:nth-child(1), .modal.subPop .modalWrap .modalBody form .itemWrap .speItem:nth-child(2) {
    margin-top: 0px;
  }
  
  .modal.subPop .modalWrap .modalBody .sub-title {
    margin: 24px 0px 40px;
    padding-left: 24px;
    text-align: left;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap {
    display: block;
    height: 100%;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .searchItem .searTab {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .searchItem .searTab input[type="text"] {
    width: 100%;
    height: 42px;
    font-size: 16px;
    border-bottom: 2px solid #0682e2;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .searchItem .searTab .btnSear {
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: transparent;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .searchItem .searTab .delSear {
    position: absolute;
    right: 40px;
    top: 11px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap {
    height: 432px;
    margin: 0px 40px 30px;
    overflow-y: scroll;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    border-top: 2px solid #d4d4d4;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem {
    border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem span {
    font-size: 14px;
    display: block;
    height: 20px;
    line-height: 20px;
    float: left;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem span i {
    display: block;
    margin-top: 3px;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem .resultSel {
    position: absolute;
    width: 48px;
    height: 26px;
    border: 1px solid #0682e2;
    color: #0682e2;
    font-size: 14px;
    border-radius: 8px;
    top: 13px;
    right: 11px;
    background-color: #fff;
    cursor: pointer;
    display: none;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem:hover {
    background-color: #e1f0fc;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem:hover .resultSel {
    background-color: #e1f0fc;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem.active {
    background-color: #e1f0fc;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem.active .resultSel {
    background-color: #e1f0fc;
  }
  
  .modal.subPop .modalWrap .modalBody .lnb {
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .modal.subPop .modalWrap .modalBody.autoH {
    height: auto;
    overflow-y: auto;
  }
  
.pagination{
    margin: 19px auto 20px;
}
.pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .pagination ul li a {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #000000;
  }
  
  .pagination ul li.now-page a {
    color: #3859ae;
  }
  
  .pagination ul li:nth-child(2) {
    margin-left: 1.1875rem;
  }
  
  .pagination ul li:nth-child(3) {
    margin-right: 1.1875rem;
  }
  

  .icon-circle-prev {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/pageArrow.svg);
    background-size: 30px;
    width: 1.875rem;
    height: 1.875rem;
  }
  
  .icon-circle-prev.active {
    background-image: url(../images/pageArrow_active.svg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .icon-circle-next {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/pageArrow.svg);
    background-size: 30px;
    width: 1.875rem;
    height: 1.875rem;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .icon-circle-next.active {
    background-image: url(../images/pageArrow_active.svg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }


  
.modal.subPop .modalWrap .modalBody .searchWrap {
    display: block;
    height: 100%;
    padding-bottom: 20px;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .searchItem .searTab {
    position: relative;
    margin: 20px 100px;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .searchItem .searTab input[type="text"] {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-bottom: 2px solid #0682e2;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .searchItem .searTab .btnSear {
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: transparent;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .searchItem .searTab .delSear {
    position: absolute;
    right: 40px;
    top: 11px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap {
    height: 430px;
    margin: 0px 40px 30px;
    overflow-y: scroll;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    border-top: 2px solid #d4d4d4;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem {
    border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 11px 20px;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem span {
    font-size: 14px;
    display: block;
    height: 20px;
    line-height: 20px;
    float: left;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem span i {
    display: block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/ico_gray_arrow.svg);
    width: 1rem;
    height: 1rem;
    background-size: 16px;
  }
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem .resultSel {
    position: absolute;
    width: 48px;
    height: 26px;
    border: 1px solid #0682e2;
    color: #0682e2;
    font-size: 14px;
    border-radius: 8px;
    top: 13px;
    right: 11px;
    background-color: #fff;
    cursor: pointer;
    display: none;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem:hover {
    background-color: #e1f0fc;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem:hover .resultSel {
    background-color: #e1f0fc;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem.active {
    background-color: #e1f0fc;
  }
  
  .modal.subPop .modalWrap .modalBody .searchWrap .resultWrap .resultItem.active .resultSel {
    background-color: #e1f0fc;
  }
  
  .modal #tab2 .btn{
      width: 300px;
      height: 56px;
      line-height: 56px;
      margin: 0 auto;
      display: block;
      border-radius: 10px;
      background-color: #cccccc;
      color: #ffffff;
      text-align: center;
      font-size: 24px;
    }